<div class="modal fade" id="addDataModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 class="title">Add Your Awesome Data</h3>
  </div>
  <div class="modal-body">
    <p class="body">
		<label>Adding data is simple. Paste a URL below and go.</label>
    	<form class="well form-inline">
		  <input type="text" id="dataInput" class="input-large" placeholder="URL to XML, CSV, or JSON format data file...">
		  <a href="#" data-dismiss="modal" id="dataButton" class="btn btn-primary">Add the data!</a>
		</form>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>