<div class="black-overlay" ></div>
<div class="data-container" id="dataContainer">
	<div class="accordion" id="accordion">
		<div class="accordion-group">
		  <div class="accordion-heading">
		    <a class="accordion-toggle btn btn-inverse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		      <i class="icon-map-marker icon-white"></i> Safecast Data
		    </a>
		  </div>
		  <div id="collapseOne" class="accordion-body collapse">
		    <div class="accordion-inner">
				<div class="data-toggle">
					<p>Safecast Dataset</p>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button class="btn btn-primary active">On</button>
					  <button class="btn btn-primary">Off</button>
					</div>
				</div>
				<div class="divider"></div>
				<div class="data-toggle">
					<p>Mobile</p>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button class="btn active">Visible</button>
					  <button class="btn">Hidden</button>
					</div>
				</div>
				<div class="data-toggle">
					<p>Static</p>
					<div class="btn-group" data-toggle="buttons-radio">
					  	<button class="btn active">Visible</button>
						  <button class="btn">Hidden</button>
					</div>
				</div>	
				<div class="divider"></div>
				<div class="data-toggle">
					<p>Reactors</p>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button class="btn active">Visible</button>
					  <button class="btn">Hidden</button>
					</div>
				</div>
				<div class="data-toggle">
					<p>Earthquakes</p>
					<div class="btn-group" data-toggle="buttons-radio">
					  	<button class="btn active">Visible</button>
						  <button class="btn">Hidden</button>
					</div>
				</div>
		    </div>
		  </div>
		</div>
		<div class="accordion-group">
		  <div class="accordion-heading">
		    <a class="accordion-toggle btn btn-inverse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		      <i class="icon-map-marker icon-white"></i> Japan Census Data
		    </a>
		  </div>
		  <div id="collapseTwo" class="accordion-body collapse">
		    <div class="accordion-inner">
				<div class="data-toggle">
					<p>Census</p>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button class="btn active">Visible</button>
					  <button class="btn">Hidden</button>
					</div>
				</div>
		    </div>
		  </div>
		</div>
		<div class="accordion-group">
		  <div class="accordion-heading">
		    <a class="accordion-toggle btn btn-inverse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		      <i class="icon-map-marker icon-white"></i> Twitter sentiment
		    </a>
		  </div>
		  <div id="collapseThree" class="accordion-body collapse">
		    <div class="accordion-inner">
				<div class="data-toggle">
					<p>Tweets</p>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button class="btn active">Visible</button>
					  <button class="btn">Hidden</button>
					</div>
				</div>
				<div class="divider"></div>
		        <div class="input-prepend">
	                <span class="add-on">Keyword</span>
	                <input class="span2" id="prependedInput" size="16" type="text">
	    		</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="toggle-group">
		<div class="data-toggle">
			<p>Timeline</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn active">Visible</button>
				<button class="btn">Hidden</button>
			</div>
		</div>
		<div class="divider"></div>
		<div class="data-toggle">
			<p>Comments</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn">Visible</button>
				<button class="btn active">Hidden</button>
			</div>
		</div>
		<div class="divider"></div>
		<div class="data-toggle">
			<p>Alerts</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn active">Visible</button>
				<button class="btn">Hidden</button>
			</div>
		</div>
	</div>
	<br>
	<div class="toggle-group">
		<div class="data-toggle">
			<p>Theme</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button id="dark_theme" class="btn active">Dark</button>
				<button id="light_theme" class="btn">Light</button>
				<button id="standard_theme" class="btn">Standard</button>
			</div>
		</div>
	</div>
	<br>
	<div class="toggle-group">
		<div class="data-toggle">
			<p>Display</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button id="display2D" class="btn">Flat map</button>
				<button id="display3D" class="btn">3D Globe</button>
			</div>
		</div>
	</div>
	<br>
	
	<button class="btn" id="addData">Add data</button>
	
</div>