<!DOCTYPE html>
<html>
<head>
    <title>GeoSense</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <% if (mapSlugByHost != '') { %><script type="text/javascript">window.MAP_SLUG = '<%= mapSlugByHost %>';</script><% } %>

    <script src="/lib/spin/spin.min.js"></script>

    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="http://www.openlayers.org/dev/OpenLayers.js"></script>
    <script src="http://maps.stamen.com/js/tile.stamen.js?v1.1.2"></script>
    <script data-main="/main" src="/lib/require/require-jquery.js"></script>

    <link href="/styles/main.css" media="all" rel="stylesheet" type="text/css"/>

    <meta name = "viewport" content = "initial-scale = 1.0, user-scalable = no">
    <link rel="apple-touch-icon" href="/assets/touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
</head>

<body>
    <div id="app"></div>
    <div id="center-spinner" style="position:fixed;top:50%;left:50%;z-index:999"></div>
    <script>document.getElementById('center-spinner').appendChild(new Spinner({radius:25,length:0,width:8,color:'#888'}).spin().el);</script>
</body>
</html>