.add-data-view .modal-body .add .tab-content .input-large
{
	width:440px;
	height:40px;
	font-size:15pt;
	line-height:28px;
}
.add-data-view .modal-body .add .tab-content .btn.large
{
	width:50px;
	height:40px;
}
.add-data-view .modal-body .add .tab-content .btn.large p
{
	padding-top:10px;
	font-size:10pt;
	font-weight:bold;
	color:#666;
}
.add-data-view .modal-body .add .well.form-inline .input-small
{
	width:180px;
}
.add-data-view .modal-body .add .well.form-inline .color-picker
{
	width:100px;
}
.add-data-view .modal-body table
{
	max-height: 100px;
	height: 100px;
	overflow: scroll;
	width: 100%;
}
.add-data-view .modal-body table th, .add-data-view .modal-body table td {
	padding: .2em;
}
.add-data-view th ul {
	margin: 0;
	padding: 0;
	list-style: none; 
}
.from-field .remove {
	display: none;
}
.to-field .from-field .remove {
	display: inline-block;
}
.add-data-view .to-field {
	min-height: 30px;
	border: 1px #eee dashed;
	background: white;
}
.add-data-view .to-field .from-field {
	display: inline-block;
}
.drop-field.sortable .drag-field:last-child {
	margin-right: .25em;
}
.add-data-view .modal-body .alert
{
	display:none;
}
.add-data-view .modal-body .review .well div {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}
.label {
	height:20px;
    font-size: 9.75px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	cursor:pointer;
}
.add-data-view .modal.large
{
}
.add-data-view select
{
	width:523px;
	opacity:.3;
}
.add-data-view .modal-body .add .nav.nav-tabs .label
{
	position:relative;
	top:7px;
	margin-right:10px;
}
.add-data-view .modal-footer .btn.btn-success
{
	display:none;
}
