.panel.data-detail {
	width: 240px;
}
.panel.data-detail.extended, .panel.extended .accordion-group {
	width: 444px;
}
.panel.data-detail .panel-body {
	padding-top: 10px;
}
.panel.data-detail th, .panel.data-detail td {
	padding: 1px 10px 1px 0;
}
.panel.data-detail th:last-child, .panel.data-detail td:last-child {
	padding-right: 0;
}
.panel.data-detail .detail-label {
	color: #fff;
	font-weight: normal;
	text-align: left;
	
	white-space: nowrap;
	line-height: 1.3em;
	overflow: hidden;
}
.panel.data-detail .detail-label .muted {
	color: #aaa;
}
.panel.data-detail .detail-value {
	color: #fff;
	
	text-align: right;
	line-height: 1.3em;
	overflow: hidden;
}
.panel.data-detail .detail-value .muted {
	color: #bbb;
}
.panel.data-detail .detail-label.single, .panel.data-detail .detail-value.single {
	text-align: center;
	width: auto;
}
.panel.data-detail th span, .panel.data-detail td span {
	display: block;
	
}
.panel.data-detail .box.title {
	color: #fff;
	line-height: 1.1em;
	font-size: 19px;
	padding-bottom: .25em;
}
.panel.data-detail .box.title {
	margin-bottom: .25em;
}
.panel.data-detail .detail-label .large {
	font-size: 28px;
	line-height: 35px;
	font-weight: bold;
	margin-bottom: .25em;
}
.panel.data-detail .detail-value .large {
	font-size: 35px;
	line-height: 35px;
	font-weight: bold;
	margin-bottom: .25em;
}
