.panel.data-detail .detail {
	margin-top:15px;
}
.panel.data-detail .value-label {
	color: #fff;
	font-weight: normal;
	text-align: left;
	width: 50%;
	line-height: 1em;
	white-space: auto;
	font-size: 35px;
	font-size: 24px;
}
.panel.data-detail .value {
	color: #fff;
	width: 50%;
	padding: 0;
	white-space: nowrap;
	font-weight: bold;
	text-align: right;
	line-height: 35px;
	font-size: 35px;
}
.panel.data-detail .value-label, .panel.data-detail .value-label.single {
	padding: 0 .0 .1em 0;
}
.panel .detail-data .body {
	padding-top: .4em;
}
.panel.data-detail .value-label.single {
	text-align: center;
	font-weight: bold;
	white-space: auto;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.panel.data-detail h5 {
	color: #fff;
	font-size: 18px;
	margin: 0;
	padding: .2em .25em .3em .25em;
}
.panel.data-detail .detail-metadata .value-label, .panel .detail-metadata .value.single, 
.panel.data-detail .detail-metadata .value {
	color: #bbb;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: normal;
}
.panel.data-detail .detail-metadata .value {
	color: #bbb;
	font-size: 13px;
	line-height: 1.5em;
	font-weight: bold;
}
.panel.data-detail .value.single {
	text-align: left;
}
.panel .detail-metadata {
	margin: 1em 0 1em 0;
}
.panel .value-label {
	white-space: nowrap;
}