.graph-view
{
	display:none;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	opacity:.9;
	border-top:1px solid #333;
}
.graph-view.visible
{
	display:block;
}
.graph-view .graph-container
{
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	height:300px;
	background-color: #222;
}
#slider
{
	z-index:9999;
	position:absolute;
	background-color:black;
	top:-20px;
}
#chart {
	display: inline-block;
}
#legend {
	display: inline-block;
	position: relative;
	left: 8px;
}
#legend_container {
	position: absolute;
	right: 150px;
	bottom: 80px;
	width: 0;
}
#chart_container {
	float: left;
	position: relative;
}
.ui-slider-horizontal {
	z-index:99999;
	height: 20px !important;
	border-color: red;
	margin-bottom: 10px;
	border-radius:0px;
}
.ui-slider-handle {
	border-color: #a0a0a0;
	height: 20px !important;
	width: 20px !important;
	top: -1px !important;
	border-radius: 0px;
	background-color:white;
	background:white;
	outline: none;
	cursor: pointer;
}
#side_panel {
	position:absolute;
	z-index:999999;
	bottom:300px;
	right:15px;
	padding: 0 20px 20px 0;
	width: 240px;
	background-color:white;
}
#side_panel section {
	color: #505050;
	font-size: 12px;
}
#side_panel section h6 {
	margin: 0 0 1em 0;
	font-size: 12px;
	font-weight: normal;
}
#side_panel .ui-slider-horizontal {
	height: 1px !important;
	border-color: #e0e0e0;
	margin-bottom: 10px;
}
#side_panel .ui-slider-handle {
	border-color: #a0a0a0;
	height: 9px !important;
	width: 9px !important;
	top: -5px !important;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
#legend {
	display:none;
	background-color: white;
	margin-left: 0;
	padding: 0;
	left: 0;
}
#legend .label {
	color: #404040;
}
#legend .action {
	color: black;
	opacity: 0.5;
}
#legend ul {
	padding: 0;
}
h1 {
	font-weight: normal;
	font-size: 15pt;
}
section {
	border: none;
	border-top: 1px solid #eaeaea;
	padding: 15px 0;
}
#smoother {
	display:none;
	margin: 5px 0 0 10px;
	width: 90%;
}
label.disabled {
	opacity: 0.4;
}
#renderer_form.toggler {
	display: block;
	margin: 0;
}
#renderer_form.toggler input[type=radio]:checked {
	outline: 2px solid steelblue;
}
#renderer_form.toggler input[type=radio] {
	-moz-appearance: button;
	background: white;
	margin: 0 7px;
	width: 39px;
	height: 26px;
	position: absolute;
}
#renderer_form.toggler label {
	display: inline-block;
	padding: 0;
	width: 39px;
	padding-top: 27px;
	text-align: center;
	font-size: 10px;
	color: #808080;
	background-repeat: no-repeat;
	position: relative;
	margin: 0 7px;
	cursor: pointer;
}
#interpolation_form,
#offset_form {
	vertical-align: top;
	display: inline-block;
	width: 45%;
}
#interpolation_form label,
#offset_form label {
	display: block;
}
label[for=area] {
	background: url(../assets/rickshaw/om_stack.png);
}
label[for=line] {
	background: url(../assets/rickshaw/om_lines.png);
}
label[for=bar] {
	background: url(../assets/rickshaw/om_bar.png);
}
label[for=scatter] {
	background: url(../assets/rickshaw/om_scatter.png);
}
#offset_form label,
#interpolation_form label {
	background-repeat: no-repeat;
	background-position: 2em center;
	cursor: pointer;
	cursor: hand;
}
#offset_form label span,
#interpolation_form label span {
	padding-left: 36px;
}
label[for=stack] {
	background-image: url(../assets/rickshaw/offset_stack.png);
}
label[for=pct] {
	background-image: url(../assets/rickshaw/offset_pct.png);
}
label[for=stream] {
	background-image: url(../assets/rickshaw/offset_stream.png);
}
label[for=value] {
	background-image: url(../assets/rickshaw/offset_value.png);
}
label[for=cardinal] {
	background-image: url(../assets/rickshaw/interp_cardinal.png);
}
label[for=linear] {
	background-image: url(../assets/rickshaw/interp_linear.png);
}
label[for=step] {
	background-image: url(../assets/rickshaw/interp_step.png);
}
.x_tick.plain .title
{
	color:white;
}
.y_ticks.plain
{
	color:white;
	fill:white;
}