.data-library
{
	display:none;
	z-index:998;
	position:absolute;
	top:0px;
	bottom:0px;
	left:-300px;
	width:300px;
	background-color:white;
	box-shadow:  2px 0px 3px rgba(0, 0, 0, .2);
}
.drop-zone
{
	z-index:996;
	position:absolute;
	top:0px;
	bottom:0px;
	left:300px;
	right:0px;
	background-color:red;
	
	background-color:rgba(0,0,0,.2);
	box-shadow:inset 0px 0px 500px rgba(0, 0, 0, 1);
	margin:auto;
	
	opacity:0;
	pointer-events:none;
}
.drop-zone.visible
{
	opacity:1;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}
.drop-zone .instruction
{
	position:absolute; 
	top:50%;
	left:50%;
	font-size:40pt;
	margin-left:-80px;
	margin-top:-25px;
	color:#FFF;
	opacity:1;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
}
.data-library .instructions
{
	width:100%;
	color:#888;
	text-align:center;
	font-style:italic;
	
}
.data-library .well
{
	width:260px;
	height:35px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
.data-library .well > button
{
	margin-bottom:10px;
	height:34px;
	width:255px;
}
.data-library .data-container {
	position:absolute;
	top:130px;
	left:15px;
	right:15px;
	background-color:rgba(0,0,0,.023);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .05);
	border:1px solid rgba(0,0,0,.05);
	
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
.data-library .data-container .data-item {
	
	margin:10px;
	width:245px;
	height:50px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	
	background-color:white;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
	border:1px solid rgba(0,0,0,.1);
	cursor:pointer;
}
.data-library .data-container .data-item:hover {
	
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
	border:1px solid rgba(0,0,0,.2);
	
}
.data-library .data-container .data-item .data-icon
{
	float:left;
	margin-top:15px;
	margin-left:10px;
	width:23px;
	height:20px;
	background-image:url('../assets/data-library-drag.png');
}
.data-library .data-container .data-item .data-title
{
	float:left;
	margin-top:15px;
	margin-left:10px;
	color:#888;
	font-size:11pt;
}
.data-library .drop-zone
{
}
.data-library .data-container .data-item .ui-draggable.hidden
{
	background-color:red;
}