<div class="panel-heading">
    Baselayer
    <div class="btn-group btn-group-xs pull-right">
        <button type="button" class="btn btn-default panel-collapse"><span class="glyphicon glyphicon-minus-sign"></span></button>
        <!--<button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>-->
        <button type="button" class="btn btn-default panel-close"><span class="glyphicon glyphicon-remove-sign"></span></button>
    </div>
</div>
<div class="panel-body">
	<form role="form">
	    <div class="form-group row">
	        <div class="col-md-12">
	            <label for="">Opacity</label>  
	            <div class="row">
	                <div class="col-md-3">
	                    <input class="form-control input-sm number model-input" name="viewOptions.baselayerOpacity" type="text" placeholder="auto" />
	                </div>
	                <div class="col-md-9">
	                    <span class="slider pull-left" data-field="viewOptions.baselayerOpacity"></span>
	                </div>
	            </div>
	        </div>
	    </div>
        <div class="form-group">
            <label>Background color</label>
            <div>
                <input class="form-control color-picker model-input input-sm" name="viewOptions.backgroundColor" type="text" placeholder="auto" />
            </div>
        </div>
	</form>
</div>