<div class="panel-heading" style="position: relative;">
	Data Library
    <div class="btn-toolbar">
	    <div class="btn-group btn-group-xs">
			<button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>
	        <button type="button" class="btn btn-default panel-close"><span class="glyphicon glyphicon-remove-sign"></span></button>
		</div>
	</div>
</div>
<div class="panel-body">
	<form class="search">
		<div class="input-group">
	  		<input type="text" class="form-control search-query" placeholder="Search data library">
	  		<span class="input-group-btn">
	    		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	    		<button class="btn btn-default remove-query" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
	  		</span>
		</div>
		<div class="status">
	      <p class="help-block muted"><span class="status-message"></span>&nbsp;</p>
	      <div class="state-indicator"></div>
	    </div>
	</form>

	<ul class="type-toggles nav nav-pills nav-pills-muted nav-justified">
	  <li class="active" data-type="public"><a class="btn-sm" href="#public-collections" data-toggle="pill">Public collections</a></li>
	  <li data-type="user"><a class="btn-sm" href="#user-collections" data-toggle="pill">My collections</a></li>
	</ul>

	<div class="active" id="public-collections">
	  <div class="hidden alert alert-info no-objects public">  
	    No matching data collections found.
	  </div>
	</div>
	<div id="user-collections">
	  <div class="hidden alert alert-info no-objects user">  
	    You don't have any matching data collections.
	  </div>
	</div>

	<div class="panel-scrollable-container">
		<div class="panel-scrollable-content collections-list">
		</div>
	</div>
</div>

<div class="drop-zone" id="dropZone">
	<div class="instruction-wrapper">
		<h3 class="instruction">drop here</h3>
	</div>
</div>
