<div class="accordion-group">
  <div class="accordion-heading">
    <h4>
      <a class="accordion-toggle" data-toggle="collapse" href="#collapse">
        <span class="icon in-out"></span><span class="title"></span>
      </a>
    </h4>
    <div class="state-indicator pull-right"></div>
    <ul class="panel-controls pull-right">
      <li><a class="visibility toggle" href="#"><span class="icon icon-eye-open icon-white" href="#"></span></a></li>
      <li class="admin-control map-layer-editor"><a class="show-map-layer-editor" href="#"><span class="icon icon-wrench icon-white" href="#"></span></a></li>
    </ul>
    <div class="status"></div>
    <div class="progress progress-striped active" style="display: none">
      <div class="bar" style="width: 40%;"></div>
    </div>
    <a class="legend-button toggle"></a>
  </div>
  <div id="collapse" class="accordion-body collapse">
    <div class="accordion-body-content">
      <div class="legend">
        <div class="histogram"></div>
        <ul class="color-bar clearfix condensed"></ul>
        <div class="unit box">
          <ul class="nav nav-pills">
          </ul>
        </div>
        </ul>
        <div class="meta description"></div>
        <div class="meta source"></div>
      </div>
    </div>
  </div>
</div>