<div class="panel-heading" style="position: relative;">
	Data Library
    <div class="btn-toolbar">
	    <div class="btn-group btn-group-xs">
			<button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>
	        <button type="button" class="btn btn-default panel-close"><span class="glyphicon glyphicon-remove-sign"></span></button>
		</div>
	</div>
</div>
<div class="panel-body">
	<ul class="nav nav-tabs">
	  <li class="active" data-type="user"><a href="#home" data-toggle="tab">My collections</a></li>
	  <li data-type="public"><a href="#home" data-toggle="tab">Public collections</a></li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane active">
	    <form class="search">
	    	<div class="input-group">
	      		<input type="text" class="form-control search-query" placeholder="Search data library">
	      		<span class="input-group-btn">
	        		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	        		<button class="btn btn-default remove-query" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
	      		</span>
	    	</div>
	    	<div class="status">
	    		<p class="help-block muted"></p>
	            <div class="state-indicator"></div>
	        </div>
	    </form>
	  </div>
	</div>

	<div class="panel-scrollable-container">
		<div class="panel-scrollable-content collections-list">
		</div>
	</div>
</div>
<div class="drop-zone" id="dropZone">
	<div class="instruction-wrapper">
		<h3 class="instruction">drop here</h3>
	</div>
</div>
