<div class="accordion-group">
	<div class="accordion-heading">
		<a class="title accordion-toggle" data-toggle="collapse" data-parent="#dataContainer" href="#collapse"></a>
	</div>
	<div id="collapse" class="accordion-body collapse">
	    <div class="accordion-inner">

	    	<form class="tabbable tabs-below">

			    <div class="tab-content">
					<div class="tab-pane active" id="map-features">

						<div class="data-toggle">
							<div id="dataToggle" class="btn-group" data-toggle="buttons-radio">
							  <button class="btn visibility" value="1">Visible</button>
							  <button class="btn visibility" value="0">Hidden</button>
							</div>
						</div>
						<div class="collection-metadata" style="display: none">
							<label for="title">Title</label> <input name="title" type="text" />
							<label for="unit">Unit</label> <input name="unit" type="text" />
							<label for="description">Description</label> <textarea name="description" rows=10></textarea>
							<label for="altUnit">Alt. unit</label> <textarea name="altUnit" rows=3></textarea>
						</div>
						<div class="data-controls">
							<div class="features">
								<div class="data-toggle">
									<div id="dataToggle" class="btn-group features" data-toggle="buttons-radio">
									  <button class="btn feature-type points" value="P"></button>
									  <button class="btn feature-type cells" value="C"></button>
									  <button class="btn feature-type bubbles" value="B"></button>
									</div>
								</div>
							</div>
							<div class="feature-settings B">
								<div>
									<label for="feature-size">Bubble size</label>
									<input name="feature-size" class="feature-size" type="text" value="min/max slider" />
								</div>
								<label for="map-size">Map size to</label>
								<select name="map-size" class="map-size">
									<option value="count">sample size</option>
								</select>
							</div>
							<div class="divider"></div>
							<div class="data-toggle">
								<div id="dataToggle" class="btn-group colors" data-toggle="buttons-radio">
								  <button class="btn color-type" value="S">Solid Color</button>
								  <button class="btn color-type" value="L">Gradient</button>
								  <button class="btn color-type" value="P">Palette</button>
								</div>
							</div>
							<div class="color-gradient">
								<div class="histogram"></div>
								<div id="gradientEditor"></div>
							</div>
							<div class="color-solid">
								<input type="text" id="colorInput" class="color-picker black" size="6" placeholder="hex color"/>
							</div>
							<div class="color-palette">
								<table>
									<thead>
										<th>Color</th>
										<th>Value</th>
										<th>Transition</th>
									</thead>
									<tbody>
										<tr class="template" style="display: none">
											<td><input name="color" type="text" class="color-picker black" size="6" placeholder="hex color" /></td>
											<td><input name="absPosition" type="text" class="number" size="6" placeholder="position" /></td>
											<td>
												<select name="interpolation" class="min-width">
													<option value="threshold">threshold</option>
													<option value="lerpRGB">linear interpolation</option>
													<option value="">default</option>
												</select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="color-options">
								<label for="opacity">Opacity</label>
								<input name="opacity" class="opacity" type="text" value="opacity slider" />
							</div>
							<div class="map-color">
								<label for="map-color">Map color to</label>
								<select name="map-color" class="map-color">
									<option value="avg">average value</option>
								</select>
							</div>
							<div class="divider"></div>
							<div class="map-details">
								<label for="map-detail-data">Detailed data</label>
								<select name="map-detail-data" class="">
									<option value="">do not display</option>
									<option selected="selected" value="C">reveal on click</option>
									<option value="M">display on map</option>
								</select>
							</div>
						</div>
				    </div>

					<div class="tab-pane active" id="data-info">
					</div>

			    </div>

			    <ul class="nav nav-tabs">
					<li class="active"><a href="#map-features" data-toggle="tab">Map Features</a></li>
					<li><a id="tab-setup-metadata" href="#data-info" data-toggle="tab">Data Info</a></li>
			    </ul>
		    
		    </form>

			<div id="adminDataControls">
				<div class="divider"></div>
		        <div id="dataToggleEdit" class="data-toggle edit">
					<button class="btn" id="removeData">Remove</button>
					<button class="btn disabled" id="updateData">Save and Update</button>
				</div>
			</div>

	    </div>
    </div>
</div>