<div class="modal-header">
<a class="close" data-dismiss="modal">×</a>
<h3 class="title">Data Import</h3>
</div>
<div class="modal-body">

<!-- Selecting Data Source/File -->
<!--
<div class="add">
	<div class="well form-inline">
		
	  <input type="text" id="titleInput" class="input-small" placeholder="Enter a title for your dataset" value=""></input> 
	  <textarea id="descriptionInput" class="input-small" placeholder="Enter a description of your dataset" value=""></textarea> 
	</div>
	<ul id="tab" class="nav nav-tabs">
		<li><span class="label">Select a data type</span></li>
		<li class="active"><a href="#JSON" data-toggle="tab">JSON</a></li>
	 	<li><a href="#XML" data-toggle="tab">XML</a></li>
	 	<li><a href="#CSV" data-toggle="tab">CSV</a></li>
		<li><a href="#GoogleFusion" data-toggle="tab">Google Fusion</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade" id="XML">
		</div>
		<div class="tab-pane fade" id="CSV">
		</div>
		<div class="tab-pane fade active in" id="JSON">
			<div class="form-inline">
				<input type="text" id="fileInput" class="input-large" placeholder="Select a file..." value=""></input>
				<a href="#" class="btn large"><p>Browse</p></a>
		    </div><br>
			<select id="converter">
				<option value="earthquakes">Earthquake Dataset</option>
             	<option value="">Standard (loc, val, date)</option>            	
             	<option value="reactors">Nuclear Reactors</option>
             	<option value="safecast" selected="selected">Safecast Dataset</option>
			 </select>
		</div>
		<div class="tab-pane fade" id="GoogleFusion">
		</div>
	</div>
</div>
-->

<form class="step source well">
    <fieldset>
        <p>
        	Please begin by entering the URL of the data file you would like to import.
        </p>
        <label class="title">Source URL</label>
        <input name="url" class="text large" placeholder="http://" value="" />
		<a href="#" class="source-start btn btn-success source-submit">Next <i class="icon icon-white icon-arrow-right half-opacity"></i></a>

		<ul class="nav nav-pills">
			<li class="active"><a href="#" data-toggle="tab">CSV</a></li>
		 	<li><a href="#" data-toggle="tab">GeoJSON</a></li>
			<li><a href="#" data-toggle="tab">Esri Grid</a></li>
		</ul>
    </fieldset>
</form>

<!-- Review data -->
<form class="step mapping">

	<div class="source">
		<div class="table-container">
			<table class="from-data table table-striped">
				<thead>
			    	<tr>
			    		<th class="element-template">

			    			<span class="well clearfix">
					    		<span class="from-field label" data-from="">
					    			<a href="" class="remove"><span class="icon icon-white icon-remove-sign"></span></a>
					    			<span class="field-name"></span> 
					    		</span>
					    	</span>

					    </th>
			    	</tr>
			    </thead>
			    <tbody>
			    </tbody>
			</table>
		</div>
	</div>

	<div class="target">
		<div class="table-container">
			<table class="to-data table table-striped">
				<thead>
			    	<tr>
					    <th class="element-template">
					    	<button class="btn show-field-settings" data-placement="top"> <span class="field-label"></span> <span class="icon icon-cog half-opacity"></span> <span class="field-type half-opacity micro"></span></button>
					    	<span class="well to-field clearfix" data-to=""></span>
					    	<div class="field-settings">
					    		<label class="title">Type</label>
					    		<select class="field-type field-setting" name="type">
					    		</select>
								<label class="checkbox">
								   	<input class="field-setting" name="options.skipEmpty" type="checkbox"> Skip empty
								</label>
								<label class="checkbox">
								   	<input class="field-setting" name="options.skipZero" type="checkbox"> Skip zero
								</label>
	    			    	</span>
					    </th>
			    	</tr>
			    </thead>
			    <tbody>
			    </tbody>
			</table>
		</div>
	</div>

</form>

<!-- Alerts -->
<div class="alert alert-conversion-error">
        <a class="close" data-dismiss="alert">×</a>
        <strong>Oops</strong> both a title and valid path are required to add a data set.
   </div>
</div>
<div class="modal-footer">
	<button class="step mapping btn back"><i class="icon-arrow-left half-opacity"></i> </span> Use another source</button>
	<button data-dismiss="modal" class="btn cancel">Cancel</button>
	<button class="step mapping import-run btn btn-primary">Import Data</button>
	<div class="state-indicator pull-right"><div class="spinner"></div></div>
</div>

