<div class="row">
  <div class="col-md-6 col-md-push-6">
    <form class="search">
      <div class="input-group">
          <input type="text" class="form-control search-query" placeholder="Search data library">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-default remove-query" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
      </div>
      <div class="status">
          <p class="help-block muted"><span class="status-message"></span>&nbsp;</p>
          <div class="state-indicator"></div>
        </div>
    </form>
  </div>

  <div class="col-md-6 col-md-pull-6">
    <ul class="type-toggles nav nav-pills nav-pills-muted nav-justified">
      <li class="active" data-type="public"><a class="btn-sm" href="#public-collections" data-toggle="pill">Public collections</a></li>
      <li data-type="user"><a class="btn-sm" href="#user-collections" data-toggle="pill">My collections</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="active" id="public-collections">
      <div class="hidden alert alert-info no-objects public">  
        No matching data collections found.
      </div>
    </div>
    <div id="user-collections">
      <div class="hidden alert alert-info no-objects user">  
        You don't have any matching data collections.
      </div>
    </div>

   	<div class="collections-list">
  	</div>
  </div>
</div>