<div class="objects-container objects">
  <div class="element-template featurette">
    <div class="row featurette">
      <div class="col-md-8">
        <h3 class="featurette-heading"><a href="#" class="map-link map-title"></a></h3>
        <p class="lead map-description"></p>
      </div>
      <div class="col-md-4 preview-image-container">
        <a href="#" class="map-link"><img class="featurette-image preview-image img-responsive framed" src="http://placehold.it/586x586"></a>
      </div>
      <hr class="featurette-divider">
    </div>
  </div>
</div>