<div class="panel-heading">
	Help
	<div class="btn-group btn-group-xs pull-right">
		<button type="button" class="btn btn-default panel-collapse"><span class="glyphicon glyphicon-minus-sign"></span></button>
		<button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>
        <button type="button" class="btn btn-default panel-close"><span class="glyphicon glyphicon-remove-sign"></span></button>
	</div>
</div>
<div class="panel-body">
	<div class="panel-scrollable-container">
		<div class="panel-scrollable-content text">
		</div>
	</div>
</div>
