<div class="panel-heading">
	Layers
    <div class="btn-toolbar">
	    <div class="btn-group btn-group-xs">
			<button type="button" class="btn btn-default panel-collapse"><span class="glyphicon glyphicon-minus-sign"></span></button>
			<button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>
		</div>
	</div>
</div>
<div class="panel-body">
	<div class="panel-scrollable-container">
		<div class="panel-scrollable-content layers-container">
		</div>
	</div>
</div>
