
    <div class="collapsible-heading">
        <a class="collapse-toggle" data-toggle="collapse" href="#">
            <span class="icon in-out"></span><span class="heading model-title"></span>
        </a>

        <div class="btn-group btn-group-xs layer-tools">
            <button type="button" class="btn btn-default admin-control show-layer-editor"><span class="glyphicon glyphicon-wrench"></span></button>
            <!--<button type="button" class="btn btn-default move-layer drag-handle"><span class="glyphicon glyphicon-move"></span></button>-->
            <button type="button" class="btn btn-default show-layer-details"><span class="glyphicon glyphicon-question-sign"></span></button>
            <button type="button" class="btn btn-default show-layer-extents"><span class="glyphicon glyphicon-zoom-in"></span></button>
            <button type="button" class="btn btn-default toggle-layer"><span class="glyphicon glyphicon-eye-open"></span></button>
        </div>
    </div>

    <div class="status muted">
        <div class="text">status text</div>
        <div class="state-indicator"></div>
    </div>
    <div class="progress progress-striped active" style="display: none">
        <div class="bar" style="width: 40%;"></div>
    </div>
    <a class="legend-button toggle"></a>

    <div class="collapse">
        <div class="collapse-content">
            <div class="graphs"></div>
            <div class="legend"></div>
            <div class="details">
                <div class="box description text-body muted micro">description</div>
            </div>
            <div class="source micro muted text">source</div>
        </div>
    </div>

