<div class="panel-header">
    <div class="frame clearfix">
        <h3>Layer: <span class="model-title"></span></h3>
        <ul class="panel-controls">
            <li><a class="panel-close" href="#"><span class="icon icon-remove-sign icon-white"></span></a></li>
            <li><a class="panel-collapse" href="#"><span class="icon icon-minus-sign icon-white"></span></a></li>
            <!--<li><a class="panel-extend" href="#"><span class="icon icon-plus-sign icon-white"></span></a></li>-->
        </ul>
    </div>
</div>
<div class="panel-body well">

    <form class="tabbable"> 
        <ul class="nav nav-tabs">
            <li class="active"><a href="#layer-features" data-toggle="tab" class="has-tooltip" data-original-title="Map Features"><span class="icon-large icon-map-marker half-opacity"></span></a></li>
            <li><a href="#layer-colors" data-toggle="tab" class="has-tooltip" data-original-title="Colors"><span class="icon-large icon-brush half-opacity"></span></a></li>
            <li><a href="#layer-stroke" data-toggle="tab" class="has-tooltip" data-original-title="Stroke"><span class="icon-large icon-vector-path-curve half-opacity"></span></a></li>
            <li><a href="#layer-info" data-toggle="tab" class="has-tooltip" data-original-title="Layer Info"><span class="icon-large icon-info-sign half-opacity"></span></a></li>
            <li><a href="#layer-data" data-toggle="tab" class="has-tooltip" data-original-title="Data"><span class="icon-large icon-table half-opacity"></span></a></li>
        </ul>

        <div class="tab-content">

            <fieldset class="tab-pane active" id="layer-features">
                <input class="model-input" name="layerOptions.featureType" type="hidden" />
                <div class="features">
                    <div>
                        <label class="title">Feature Type</label>
                        <p class="btn-group model-input" data-name="layerOptions.featureType" data-toggle="buttons-radio">
                            <button class="btn feature-type points" value="P"><i class="icon icon-feature-type has-tooltip" data-original-title="Points" data-placement="bottom"></i></button>
                            <button class="btn feature-type square-tiles" value="ST"><i class="icon icon-feature-type has-tooltip" data-original-title="Tiles" data-placement="bottom"></i></button>
                            <button class="btn feature-type bubbles" value="B"><i class="icon icon-feature-type has-tooltip" data-original-title="Bubbles" data-placement="bottom"></i></button>
                            <button class="btn feature-type shapes" value="S"><i class="icon icon-feature-type has-tooltip" data-original-title="Shapes" data-placement="bottom"></i></button>
                        </p>
                    </div>
                    <p class="clearfix">
                        <label class="title" for="">Opacity</label>  
                        <span class="pull-left">
                            <input class="number model-input" name="layerOptions.opacity" type="text" />
                        </span>
                        <span class="slider pull-left" data-field="layerOptions.opacity"></span>
                    </p>
                    <div class="feature-settings ST advanced">
                        <p>
                            <label class="checkbox">
                                <input class="model-input" name="layerOptions.featureTypeFallback" type="checkbox" checked="checked"> Fall back to original shape if not tiled
                            </label>
                        </p>
                    </div>
                    <div class="feature-settings B clearfix">
                        <p>
                            <label class="title" for="">Minimum feature size</label>  
                            <span class="pull-left">
                                <input class="number model-input" name="layerOptions.minFeatureSize" type="text" placeholder="default" />
                            </span>
                            <span class="slider pull-left" data-field="layerOptions.minFeatureSize" data-min="1" data-max="300"></span>
                        </p>
                    </div>
                    <div class="feature-settings B P clearfix">
                        <p>
                            <label class="title" for="">Feature size</label>  
                            <span class="pull-left">
                                <input class="number model-input" name="layerOptions.featureSize" type="text" placeholder="default" />
                            </span>
                            <span class="slider pull-left" data-field="layerOptions.featureSize" data-min="1" data-max="300"></span>
                        </p>
                    </div>
                    <div class="feature-settings B">
                        <p>
                            <label class="title" for="map-size">Size relative to</label>
                            <select class="model-input" name="layerOptions.attrMap.featureSize">
                                <option value="">(default)</option>
                                <option value="count">sample size</option>
                                <option value="$numeric.avg">average value</option>
                            </select>
                        </p>
                    </div>
                </div>

                <div class="advanced clearfix">
                    <div class="divider"></div>
                    <p>
                        <label class="title" for="map-size">Renderer</label>
                        <select class="model-input" name="layerOptions.htmlRenderer">
                            <option value="Canvas">Canvas (faster)</option>
                            <option value="SVG">SVG (more options)</option>
                        </select>
                    </p>
                </div>
            </fieldset>

            <fieldset class="tab-pane" id="layer-colors">
                <table class="color-palette">
                    <thead>
                        <td>&nbsp;</td>
                        <th><label class="title">Color</label></th>
                        <th><label class="title">Value</label></th>
                        <th><label class="title">Interpolation</label></th>
                    </thead>
                    <tbody>
                        <tr class="element-template" data-id="">
                            <td><span class="drag-handle"></span></td>
                            <td><input name="color" type="text" class="color-picker" size="7" placeholder="hex color" value="" /></td>
                            <td><input name="position" type="text" class="number" size="6" placeholder="position" value="" /></td>
                            <td>
                                <select name="interpolation" class="min-width">
                                    <option value="">(default)</option>
                                    <option value="threshold">threshold</option>
                                    <option value="lerpRGB">linear</option>
                                </select>
                            </td>
                            <td class="controls">
                                <a class="btn muted remove-color" href="#"><span class="icon icon-remove"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    <button class="btn add-color"><i class="icon icon-plus"></i> Add</button>
                    <button data-content-selector=".color-generator" data-title="Color Scheme Generator" data-placement="right" class="btn show-color-generator has-popover pull-right">Generate color scheme…</button>
                </p>

                <div class="color-generator">
                    <div class="clearfix">
                        <div class="clearfix">
                            <p class="pull-left">
                                <label class="radio">
                                    <input type="radio" name="colorSchemeType" value="diverging" checked> diverging
                                </label>
                                <label class="radio">
                                    <input type="radio" name="colorSchemeType" value="sequential"> sequential
                                </label>
                                <label class="radio">
                                    <input type="radio" name="colorSchemeType" value="qualitative"> qualitative
                                </label>
                            </p>
                            <p class="pull-right">
                                <label class="title" for="">Steps</label>  
                                    <input class="number" name="colorSchemeSteps" type="text" value="5" />
                                </span>
                            </p>
                        </div>
                        <div class="divider" />
                        <p>
                            <button class="btn hide-color-generator pull-left">Cancel</button>
                            <button class="btn btn-warning generate-colors pull-right">Generate</button>
                        </p>
                    </div>
                </div>

                <div class="advanced">
                    <div class="divider"></div>
                    <p>
                        <label class="title">Label color</label>
                        <input class="color-picker model-input" name="layerOptions.colorLabelColor" type="text" placeholder="auto" />
                    </p>
                </div>

                <!-- TODO: this needs to be reflected in the legend
                <p>
                    <label class="title" for="map-size">Map color to</label>
                    <select class="model-input" name="layerOptions.attrMap.featureColor">
                        <option value="">(default)</option>
                        <option value="count">sample size</option>
                        <option value="val.avg">average value</option>
                    </select>
                </p>
                -->
            </fieldset>

            <fieldset class="tab-pane" id="layer-stroke">
                <p>
                    <label class="title">Stroke color</label>
                    <input class="color-picker model-input" name="layerOptions.strokeColor" type="text" placeholder="auto" />
                </p>
                <p class="clearfix">
                    <label class="title" for="">Stroke width</label>  
                    <span class="pull-left">
                        <input class="number model-input" name="layerOptions.strokeWidth" type="text" placeholder="auto" />
                    </span>
                    <span class="slider pull-left" data-field="layerOptions.strokeWidth" data-min="1" data-max="30"></span>
                </p>
                <p class="clearfix">
                    <label class="title" for="">Stroke opacity</label>  
                    <span class="pull-left">
                        <input class="number model-input" name="layerOptions.strokeOpacity" type="text" placeholder="auto" />
                    </span>
                    <span class="slider pull-left" data-field="layerOptions.strokeOpacity"></span>
                </p>
                <p class="clearfix advanced">
                    <label class="title" for="map-size">Line cap (requires SVG)</label>
                    <select class="model-input" name="layerOptions.strokeLinecap">
                        <option value="round">round</option>
                        <option value="square">square</option>
                        <option value="butt">butt</option>
                    </select>
                </p>
                <p class="clearfix advanced">
                    <label class="title" for="map-size">Dash style (requires SVG)</label>
                    <select class="model-input" name="layerOptions.strokeDashstyle">
                        <option value="solid">solid</option>
                        <option value="dot">dot</option>
                        <option value="dash">dash</option>
                        <option value="dashdot">dashdot</option>
                        <option value="longdash">longdash</option>
                        <option value="longdashdot">longdashdot</option>
                    </select>
                </p>
            </fieldset>

            <fieldset class="tab-pane" id="layer-info">
                <label class="title">Visibility</label>
                <p>
                    <label class="checkbox">
                        <input class="model-input layer-toggle" name="layerOptions.enabled" type="checkbox" checked="checked"> This layer is switched on by default.
                    </label>
                    <!-- TODO:
                    <label class="checkbox">
                        <input class="model-input" name="layerOptions.public" type="checkbox" checked="checked"> This layer is public.
                    </label>
                    -->
                </p>
                <p>
                    <label class="title" for="title">Title</label> 
                    <input class="text model-input" name="layerOptions.title" type="text" />
                    <label class="title" for="unit">Unit</label> 
                    <input class="text model-input" name="layerOptions.unit" type="text" />
                    <label class="title" for="description">Description</label> 
                    <textarea class="text model-input" name="layerOptions.description" rows="8"></textarea>
                </p>
                <p class="model-numeric">
                    <label class="checkbox">
                        <input class="model-input" name="layerOptions.histogram" type="checkbox" checked="checked"> Display histogram for this layer
                    </label>
                </p>
                <div class="divider"></div>
                <p>
                    <button class="btn btn-danger destroy">Remove Layer</button>
                </p>
            </fieldset>

            <fieldset class="tab-pane" id="layer-data">
                <p>
                    <label class="title" for="map-size">Use numeric values from</label>
                    <select class="model-input field-names" name="layerOptions.attrMap.numeric" data-type="Number">
                        <option value="">(pick a number field)</option>
                    </select>
                </p>
                <p class="clearfix">
                    <label class="title" for="map-size">Use date/time values from</label>
                    <select class="model-input field-names" name="layerOptions.attrMap.datetime" data-type="Date">
                        <option value="">(pick a date field)</option>
                    </select>
                </p>
            </fieldset>
        </div>
        <div class="divider"></div>
        <div class="panel-buttons clearfix">
            <label class="checkbox inline">
                <input class="preview" type="checkbox" checked="checked"> Preview
            </label>
            <label class="checkbox inline">
                <input class="show-advanced" type="checkbox"> <i class="icon icon-cog half-opacity has-tooltip" data-original-title="Advanced Settings"></i>
            </label>
            <button class="btn save btn-success">Save Layer</button>
            <button class="btn undo">Undo</button>
        </p>
    </form>

</div>

