<div class="panel-heading">
	Map Info
    <div class="btn-toolbar">
	    <div class="btn-group btn-group-xs">
	        <button type="button" class="btn btn-default panel-collapse"><span class="glyphicon glyphicon-minus-sign"></span></button>
	        <button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>
	        <button type="button" class="btn btn-default panel-close"><span class="glyphicon glyphicon-remove-sign"></span></button>
	    </div>
	</div>
</div>
<div class="panel-body">
	<h2 class="title"><span class="content"></span></h2>
	<div class="description"></div>
	<p class="author"><span class="content"></span></p>
	<p class="linkURL"><a class="content" href="#"></a></p>
    <p class="twitter"><a class="content" href="#"></a></p>
</div>
