<div id="map-tour-view">
	<div class="panel-heading">
		Map Tour
	    <div class="btn-group btn-group-xs pull-right">
	        <button type="button" class="btn btn-default panel-collapse"><span class="glyphicon glyphicon-minus-sign"></span></button>
	        <button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>
	        <button type="button" class="btn btn-default panel-close"><span class="glyphicon glyphicon-remove-sign"></span></button>
	    </div>
	</div>
	<div class="panel-body">
		<div class="step-buttons">
			<a href="#" id="" class="btn previous">Previous</a>
	  		<a href="#" id="" class="btn next" style="float: right">Next</a>
	  	</div>
		<h2 class="title"><span class="content"></span></h2>
		<div class="step-body"></div>
		<!--<p class="author"><span class="content"></span></p>
		<p class="linkURL"><a class="content" href="#"></a></p>
	    <p class="twitter"><a class="content" href="#"></a></p>-->
	</div>
</div>
