<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Map Info</h4>
        </div>
        <div class="modal-body">
			<div class="panel-body">
				<div class="description"></div>
				<p class="author"><span class="content"></span></p>
				<p class="linkURL"><a class="content" href="#"></a></p>
			  	<p class="twitter"><a class="content" href="#"></a></p>
			</div>
		</div>
        <div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
