<div id="map-tour-view">
	<div class="panel-header">
		<div class="frame clearfix">
			<h3>Map Info</h3>
			<ul class="buttons">
				<li><a href="#" class="close"><span>close</span></a></li>
				<li><a href="#" class="collapse"><span>collapse</span></a></li>
				<li><a href="#" class="extend"><span>extend</span></a></li>
			</ul>
		</div>
	</div>
	<div class="panel-body">
		<div class="step-buttons">
			<a href="#" id="" class="btn previous">Previous</a>
	  		<a href="#" id="" class="btn next" style="float: right">Next</a>
	  	</div>
		<h2 class="title"><span class="content"></span></h2>
		<div class="step-body"></div>
		<!--<p class="author"><span class="content"></span></p>
		<p class="linkURL"><a class="content" href="#"></a></p>
	    <p class="twitter"><a class="content" href="#"></a></p>-->
	</div>
</div>
