
    <div class="collapsible-heading">
        <a class="collapse-toggle model-editable" data-toggle="collapse" data-text=".model-title" data-name="title" href="#">
            <span class="icon in-out"></span><span class="heading model-title"></span>
        </a>

        <div class="btn-group btn-group-xs layer-tools">
            <button type="button" class="btn btn-default admin-control map-tool show-layer-editor has-tooltip" data-title="Edit layer"><span class="glyphicon glyphicon-wrench"></span></button>
            <!--<button type="button" class="btn btn-default move-layer drag-handle"><span class="glyphicon glyphicon-move"></span></button>-->
            <button type="button" class="btn btn-default map-tool show-layer-details has-tooltip" data-title="About this layer"><span class="glyphicon glyphicon-question-sign"></span></button>
            <button type="button" class="btn btn-default map-tool show-layer-extents has-tooltip" data-title="Zoom to extents"><span class="glyphicon glyphicon-zoom-in"></span></button>
            <button type="button" class="btn btn-default map-tool show-layer-graphs has-tooltip" data-toggle="tooltip" data-title="Show graphs"><span class="glyphicon glyphicon-stats"></span></button>
            <button type="button" class="btn btn-default map-tool toggle-layer has-tooltip" data-title="Toggle layer"><span class="glyphicon glyphicon-eye-open"></span></button>

            <button type="button" class="btn btn-default admin-control library-tool edit-collection has-tooltip" data-title="Edit information"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-default library-tool toggle-layer has-tooltip" data-title="About this collection"><span class="glyphicon glyphicon-eye-open"></span></button>
            <button type="button" class="btn btn-default admin-control library-tool sharing-status has-tooltip" data-title="Sharing"><span class="glyphicon glyphicon-globe is-public"></span><span class="glyphicon glyphicon-lock is-private"></span></button>
            <button type="button" class="btn btn-default library-tool library-map-tool add-layer has-tooltip" data-title="Add to map"><span class="glyphicon glyphicon-map-marker"></span></button>

        </div>
    </div>

    <div class="status muted">
        <div class="text">status text</div>
        <div class="state-indicator"></div>
    </div>
    <div class="progress progress-striped active" style="display: none">
        <div class="bar" style="width: 40%;"></div>
    </div>
    <a class="legend-button toggle"></a>

    <div class="collapse">
        <div class="collapse-content">
            <div class="graphs"></div>
            <div class="legend"></div>
            <div class="details">
                <div class="box description text-body muted micro">description</div>
            </div>
            <div class="source micro muted text">source</div>
        </div>
    </div>

