<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Map Setup</h4>
        </div>
        <div class="modal-body">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#setup-urls" data-toggle="tab">Map URLs</a></li>
                <li><a id="tab-setup-info" href="#setup-info" data-toggle="tab">Map Info</a></li>
                <li><a id="tab-setup-author" href="#setup-author" data-toggle="tab">Author Info</a></li>
                <li><a id="tab-setup-settings" href="#setup-settings" data-toggle="tab">Map Settings</a></li>
                <li><a id="tab-setup-custom-domain" href="#setup-custom-domain" data-toggle="tab">Custom domain</a></li>
            </ul>

            <form class="well map-setup">
                <div class="tab-content">
                    <div class="tab-pane active" id="setup-urls">
                        <p class="help-block">You'll be able to access this map from the following URLs. We will email you this information if you <a href="#" class="enter-email">enter your email address</a>.</p>
                        <div class="form-group urls has-success">
                            <label><span class="glyphicon glyphicon-wrench"></span> Admin URL – keep this link private:</label>
                            <input class="form-control input-lg map-admin-url" readonly="readonly"></input>
                        </div>
                        <div class="form-group urls has-warning">
                            <label><span class="glyphicon glyphicon-eye-open"></span> Public URL – share this link with others:</label>
                            <input class="form-control input-lg large map-url" readonly="readonly"></input>
                        </div>
                    </div>
                    <div class="tab-pane" id="setup-info">
                        <div class="form-group">
                            <label>Map Title</label>
                            <input class="form-control" name="title"></input>
                        <div class="form-group">
                        </div>
                            <label>Description</label>
                            <textarea class="form-control" name="description" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="tab-pane" id="setup-author">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Author Info</label>
                                <input class="form-control" name="author"></input>
                            </div>
                            <div class="col-md-6">
                                <label>Your email address (won't be displayed)</label>
                                <input class="form-control email" name="createdBy.email"></input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Link URL</label>
                                <input class="form-control" name="linkURL"></input>
                            </div>
                            <div class="col-md-6">
                                <label>Link Text</label>
                                <input class="form-control" name="linkTitle"></input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>Twitter handle</label>
                                <input class="form-control" name="twitter"></input>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="setup-custom-domain">
                        <div class="form-group">
                            <label>Your custom domain name</label>
                            <input class="form-control" name="host" placeholder="Example: your-domain.com"></input>
                            <p class="help-block">If you would like to have your custom domain point to this map, you can enter the domain name here. Please notice that you will have to set up your domain and point it to this application for this setting to have any effect.</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="setup-settings">
                        <div class="form-group">
                            <p>
                                <button class="btn btn-default btn-block" id="savePositionButton">Save current map position as default</button>
                            </p>
                            <p>
                                <button class="btn btn-default btn-block" id="saveViewOptionsButton">Save current view and style as default</button>
                            </p>
                        </div>
                    </div>

                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button id="deleteMapButton" class="btn btn-danger delete pull-left">Delete Map</button>
            <button id="saveCloseButton" type="submit" class="btn btn-success pull-right">Start Mapping!</button>
            <button id="cancelButton" class="btn btn-default btn-cancel pull-right">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
