<table class="hidden table table-striped objects-container">
<thead>
	<tr>
	  <th>&nbsp;</th>
	  <th>Title</th>
	  <th>Created</th>
	  <th>&nbsp;</th>
	</tr>
</thead>
<tbody class="objects">
	<tr class="element-template">
	  <th class=""><a href="#" class="map-link"><span class="glyphicon glyphicon-map-marker"></span></a></th>
	  <th class="col-title"><a href="#" class="map-link"><span class="map-title"></span></a></th>
	  <td class="col-date map-created-at"></td>
	  <td class="">
	  	<div class="btn-group">
	  		<a href="#" class="btn btn-default btn-xs delete-map admin-link"><span class="glyphicon glyphicon-cog" data-title="Edit map"></a>
	  		<!--<a href="#" class="btn btn-default btn-xs delete-map"><span class="glyphicon glyphicon-remove-sign" data-title="Delete map"></a>-->
	  	</div>
	  </td>
	</tr>
</tbody>
</table>
<div class="hidden alert alert-info no-objects">  
    You don't have any maps yet.
</div>
