<table class="hidden table table-striped objects-container">
<thead>
	<tr>
	  <th>Title</th>
	  <th>Created</th>
	  <th>&nbsp;</th>
	</tr>
</thead>
<tbody class="objects">
	<tr class="element-template">
		<th class="col-title"><a href="#" class="map-link"><span class="model-title map-title"></span></a></th>
		<td class="col-date map-created-at"></td>
		<td class="col-buttons">
			<div class="btn-group">
				<a href="#" class="btn btn-default btn-xs map-link has-tooltip" data-title="Show public map" data-container="body"><span class="glyphicon glyphicon-share"></span></a>
				<a href="#" class="btn btn-default btn-xs admin-link has-tooltip" data-title="Edit map" data-container="body"><span class="glyphicon glyphicon-cog"></span></a>
			    <button type="button" class="btn btn-default btn-xs admin-control sharing-status has-tooltip" data-title="Sharing"><span class="glyphicon glyphicon-globe is-public"></span><span class="glyphicon glyphicon-lock is-private"></span></button>
			</div>
		</td>
	</tr>
</tbody>
</table>
<div class="hidden alert alert-info no-objects">  
    You don't have any maps yet.
</div>
