<div class="accordion-group">
  <div class="accordion-heading">
    <h4>
      <a class="accordion-toggle" data-toggle="collapse" href="#collapse">
        <span class="icon in-out"></span><span class="title"></span>
      </a>
    </h4>
    <a class="icon visibility toggle icon-eye-open icon-white" href="#"></a>
    <div class="state-indicator"></div>
    <div class="status"></div>
    <div class="progress progress-striped active" style="display: none">
      <div class="bar" style="width: 40%;"></div>
    </div>
    <a class="legend-button toggle"></a>
  </div>
  <div id="collapse" class="accordion-body collapse">
    <div class="accordion-body-content">
      <div class="legend">
        <div class="histogram"></div>
        <ul class="color-bar clearfix condensed"></ul>
        <div class="unit">
          <ul class="nav nav-pills">
          </ul>
        </div>
        </ul>
      </div>
      <div class="meta description"></div>
      <div class="meta source"></div>
      <div class="detail">
        <table class="detail-data"></table>
        <table class="detail-metadata micro"></table>
      </div>
    </div>
  </div>
</div>