<div class="accordion-group">
  <div class="accordion-heading">
    <h4>
      <a class="title accordion-toggle" data-toggle="collapse" data-parent="#data-info-accordion" href="#collapse"></a>
    </h4>
    <div class="status"></div>
    <a class="legend-button toggle"></a>
  </div>
  <div id="collapse" class="accordion-body collapse">
    <div class="legend">
      <div class="histogram"></div>
      <ul class="color-bar clearfix condensed"></ul>
      <div class="unit"></div>
    </div>
    <div class="detail">
      <table class="detail-data"></table>
      <table class="detail-metadata micro"></table>
    </div>
  </div>
</div>