<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">Geo</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<button id="settingsButton" class="btn btn-inverse" href="#"><i class="icon-arrow-left icon-white"></i> Hide Settings</button>
					</li>
					<li class="divider-vertical"></li>
				  
					<li class="dropdown">
						<a href="#"
							class="dropdown-toggle"
							data-toggle="dropdown">About
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li id="aboutGeosense"><a href="#">About Geosense</a></li>
							<li id="aboutSafecast"><a href="#">About Safecast</a></li>
							<li class="divider"></li>
							<li><a href="http://www.media.mit.edu/" target="_blank">MIT Media Lab</a></li>
						</ul>
					</li>
					<li class="divider-vertical"></li>
					<li class="dropdown">
						<a href="#"
							class="dropdown-toggle"
							data-toggle="dropdown">Share
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li id="postTwitter"><a href="#">Post to Twitter</a></li>
							<li id="postFacebook"><a href="#">Share on Facebook</a></li>
						</ul>
					</li>
					<li class="divider-vertical"></li>

				</ul>
				<input type="text" class="search-query" id="search" placeholder="Search">
			</div>
		</div>
	</div>
</div>