<div class='header'>
	<div class='mit-logo'></div>
	<div class='links'>
		<div class='link'><a href="https://media.mit.edu" target="_blank">AN MIT MEDIA LAB PROJECT</a></div>
		<div class='divider'></div>
		<div class='link'><a href="" target="_self">ABOUT GEOKIT</a></div>
		<div class='divider'></div>
		<div class='link'><a href="" target="_self">USAGE POLICY</a></div>
	</div>
	<div class='git-logo'><a href="https://github.com/tonydevincenzi/geo" target="_blank">GITHUB</a></div>
</div>
<div class='hero'>
	<div class='type'>
		<h1>GEOKIT</h1>
		<h2>Create and share beautiful geospatial visualizations</h2>
	</div>
	<div class="create">
		<div class="fields">
			<input id="appendedPrependedInput" placeholder="What should we call your map?" type="text">
			<button class="btn" id="createMap" type="button">create</button>
		</div>
	</div>
</div>
<div class='learn'>
	<div class="learn-container">
		<div class="navigator">
			<div class='title'><p>Using Geokit</p></div>
			<div class='step'><h2 class='active'>CREATE A MAP</h2></div>
			<div class='arrow'></div>
			<div class='step'><h2>LOAD YOUR DATA</h2></div>
			<div class='arrow'></div>
			<div class='step'><h2>SHARE AND DISCUSS</h2></div>
		</div>
		<div class="section one">
			<div class="image"></div>
			<!--<div class="title"><h2>See your data in 2d (Google Maps) and 3D (webGL)</h2></div>-->
			<div class="description"><p>Easily add your data as json, xml, or csv, and see it come to life on 2D and 3D maps.</p></div>
		</div>
	</div>
</div>
<div class='recent'>
	<div class='type'>
		<h1>RECENT & AWESOME</h1><br>
		<h2>Maps we think you’ll love, because we do.</h2>
	</div>
	<div class='super-feature'>
		<div class='feature'><p>Super Feature Name</p></div>
		<div class='feature two'><p>Super Feature Name</p></div>	
	</div>
	<div class='recent-table'>
		<table id='mapTable' class="map-table">
			<tr>
		    	<th>Map Name</th>
		    	<th>Unique URL</th>
		   	</tr>
		</table>
	</div>
</div>
<div class='footer'><div>