<div class='header'>
	<div class='mit-logo'></div>
	<div class='links'>
		<div class='link'><a href="http://media.mit.edu" target="_blank">A MEDIA LAB PROJECT</a></div>
		<div class='divider'></div>
		<div class='link'><a data-toggle="modal" href="#aboutModal">ABOUT GEOSENSE</a></div>
		<div class='divider'></div>
		<div class='link'><a data-toggle="modal" href="#usageModal">USAGE POLICY</a></div>
	</div>
	<div class='git-logo'><a href="https://github.com/tonydevincenzi/geo" target="_blank">GITHUB</a></div>
</div>
<div class='hero-dark'>
	<div class='type'>
		<h1>GeoSense</h1>
		<h2>Create and share beautiful geospatial visualizations</h2>
	</div>
	<div class="create">
		<div class="label label-important" id='errorMessage'>Oops. That's not a valid map name.</div>
		
		<div class="fields">
			<input id="appendedPrependedInput" placeholder="What should we call your map?" type="text">
			<button class="btn" id="createMap" type="button">create</button>
		</div>
		
	</div>
</div>
<div class='learn'>
	<div class="learn-container">
		<div class="navigator">
			<div class='title'><p>Using GeoSense</p></div>
			<div class='step'><h2 class='active'>CREATE A MAP</h2></div>
			<div class='arrow'></div>
			<div class='step'><h2>LOAD YOUR DATA</h2></div>
			<div class='arrow'></div>
			<div class='step'><h2>SHARE AND DISCUSS</h2></div>
		</div>
		<div class="section one">
			<div class="image"></div>
			<!--<div class="title"><h2>See your data in 2d (Google Maps) and 3D (webGL)</h2></div>-->
			<div class="description"><p>Easily add your data as json, xml, or csv, and see it come to life on 2D and 3D maps.</p></div>
		</div>
	</div>
</div>
<div class='recent'>
	<div class='type'>
		<h1>RECENT & AWESOME</h1><br>
		<h2>Maps we think you’ll love, because we do.</h2>
	</div>
	<div class='super-feature'>
		<div class='feature'><p>Super Feature Name</p></div>
		<div class='feature two'><p>Super Feature Name</p></div>	
	</div>
	<div class='recent-table'>
		<table id='mapTable' class="map-table">
			<tr>
		    	<th>Map Name</th>
		    	<th>Unique URL</th>
		   	</tr>
		</table>
		<ul class="pager">
		  <li class="next">
		    <a id="nextMapSet">More &rarr;</a>
		  </li>
		</ul>
	</div>
	  	
</div>
	
<div class="modal fade" id="aboutModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>About GeoSense</h3>
  </div>
  <div class="modal-body">
       <p>GeoSense is an open publishing platform for visualization, social sharing, and data analysis of geospatial data. It explores the power of data analysis through robust layering and highly customizable data visualization. GeoSense supports the simultaneous comparison and individual styling for multiple massive data sources ranging from 10 thousand to 10 million geolocated points.

    It was developed by Anthony DeVincenzi and Samuel Luescher of the MIT Media Lab, alongside Hiroshi Ishii and Safecast.org.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<div class="modal fade" id="usageModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Using GeoSense</h3>
  </div>
  <div class="modal-body">
    <p>Be nice!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>