<div id="map-info-view">
	<div class="panel-header">
		<div class="frame clearfix">
			<h3>Map Info</h3>
			<ul class="buttons">
				<li><a href="#" class="close"><span>close</span></a></li>
				<li><a href="#" class="collapse"><span>collapse</span></a></li>
				<li><a href="#" class="extend"><span>extend</span></a></li>
			</ul>
		</div>
	</div>
	<div class="panel-body">
		<h2 class="title"><span class="content"></span></h2>
		<div class="description"></div>
		<p class="author"><span class="content"></span></p>
		<p class="url"><a class="content" href="#"></a></p>
	    <p class="twitter"><a class="content" href="#"></a></p>
	</div>
</div>
