<div class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 class="title"></h3>
  </div>
  <div class="modal-body">
	<div class="panel-body">
		<div class="description"></div>
		<p class="author"><span class="content"></span></p>
    <p class="url"><a class="content" href="#"></a></p>
    <p class="twitter"><a class="content" href="#"></a></p>
	</div>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>
</div>