<div class="modal fade" id="setupModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h2 class="map-name">This is your map.</h2>
  </div>
  <div class="modal-body">
    <p>From now until forever you'll be able to access this map from the following URL, don't lose it!</p>
	<p>public / private toggle Admin password</p>
	<p>Social share</p>
	<input class="map-url"></input>
	<input class="map-admin-url"></input>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success">Start mapping</a>
  </div>
</div>