<div class="settings-tab" id="settingsTab"><h4 id="settingsTabText">HIDE</h4></div>
<div class="data-container" id="dataContainer">
	<div class="accordion" id="accordion">
		<div class="accordion-group">			
		  <div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Comments</a>
		  </div>
		  <div id="collapseOne" class="accordion-body collapse">
		    <div class="accordion-inner">
				<div class="data-toggle">
					<div class="btn-group" data-toggle="buttons-radio">
					  <button class="btn active" id="toggleCommentsVisible">Visible</button>
					  <button class="btn" id="toggleCommentsHidden">Hidden</button>
					</div>
				</div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="toggle-group" id="dataManager">
		<div class="data-toggle double">
			<button class="btn data first" id="addData">Add New Data</button>
			<button class="btn data second" id="addDataLibrary">Browse Data Library</button>
		</div>
	</div>
	<div class="divider large"></div>
	<div class="toggle-group">
		<div class="data-toggle">
			<p>Display</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button id="display2D" class="btn">Flat map</button>
				<button id="display3D" class="btn">3D Globe</button>
			</div>
		</div>
	</div>
	<div class="toggle-group" id="themeToggleGroup">
		<div class="data-toggle">
			<p>Theme</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button id="dark_theme" class="btn active">Dark</button>
				<button id="light_theme" class="btn ">Light</button>
				<button id="standard_theme" class="btn">Standard</button>
			</div>
		</div>
	</div>
	<div class="toggle-group" id="scaleToggleGroup">
		<div class="data-toggle">
			<p>Scale</p>
			<div class="btn-group" data-toggle="buttons-radio">
				<button id="scale_linear" class="btn">Linear</button>
				<button id="scale_log" class="btn">Logarhitmic</button>
			</div>
		</div>
	</div>
	<!--
	<button id="tweetButton">Get Tweets</button>
	-->
	<div class="toggle-group" id="dbg" style="background: white !important; font-family: courier">
		debug
	</div>

</div>