<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle btn btn-inverse" data-toggle="collapse" data-parent="#accordion" href="#collapse">
      <i class="icon-map-marker icon-white"></i> Twitter sentiment
    </a>
  </div>
  <div id="collapse" class="accordion-body collapse">
    <div class="accordion-inner">
		<div class="data-toggle">
			<p>Data controls</p>
			<div id="dataToggle" class="btn-group" data-toggle="buttons-radio">
			  <button class="btn active">Visible</button>
			  <button class="btn">Hidden</button>
			</div>
		</div>
		<div class="divider"></div>
        <div id="dataToggleEdit" class="data-toggle edit">
			<button class="btn btn-inverse" id="editData">Edit</button>
			<button class="btn btn-inverse" id="removeData">Remove</button>
		</div>
    </div>
  </div>
</div>