<div class="chat-container" id="chatContainer">
	<div class="chat-toggle" id="chatToggle"><i class="icon-comment "></i></div>
	<div id="messages" class="messages"></div>
	<div class="lower-module">
		<div class="login">
			<div class="input-append">
				<input id="userName" placeholder="Enter your name..." type="text"><button class="btn append" id="joinRoom" type="button">join</button>
			</div>
		</div>
		<div class="chat">
			<div class="input-append">
				<input id="message" placeholder="Enter a message..." type="text"><button class="btn append" id="sendMessage" type="button">send</button>
			</div>
		</div>	
	</div>
</div>
