<div class="panel-heading">
    Details: <span class="model-title"></span>
    <div class="btn-toolbar">
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-default panel-collapse"><span class="glyphicon glyphicon-minus-sign"></span></button>
            <!--<button type="button" class="btn btn-default panel-extend"><span class="glyphicon glyphicon-plus-sign"></span></button>-->
            <button type="button" class="btn btn-default panel-close"><span class="glyphicon glyphicon-remove-sign"></span></button>
        </div>
    </div>
</div>
<div class="panel-body">
	<div class="detail">
		<table class="detail-data"></table>
	</div>
</div>
<div class="arrow-down-center">
    <div class="arrow-down"></div>
</div>
