<div class="panel-header">
    <div class="frame clearfix">
        <h3>Details: <span class="model-title"></span></h3>
        <ul class="panel-controls">
            <li><a class="panel-close" href="#"><span class="icon icon-remove-sign icon-white"></span></a></li>
            <li><a class="panel-collapse" href="#"><span class="icon icon-minus-sign icon-white"></span></a></li>
            <li><a class="panel-extend" href="#"><span class="icon icon-plus-sign icon-white"></span></a></li>
        </ul>
    </div>
</div>
<div class="panel-body">
	<div class="detail">
		<table class="detail-data"></table>
	</div>
</div>