<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.mit.edu"><img src="assets/homepage-mit.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://media.mit.edu">A Media Lab project</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About GeoSense <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Project Background</a></li>
            <li><a href="#">Usage Policy</a></li>
            <li><a href="http://github.com/Safecast/GeoSense">GitHub</a></li>
          </ul>
        </li>
      </ul>
      <!--
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      -->
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="app-title">GeoSense</h1>
    <h2>Create and share beautiful geospatial visualizations</h2>
		<form class="create">
			<div class="alert alert-warning" id="errorMessage">Oops. That's not a valid title.</div>
			<div class="input-group">
				<input class="form-control input-lg map-title" placeholder="What should we call your map?" type="text">
	      		<span class="input-group-btn">
	        		<button id="createMap" class="btn btn-primary btn-lg" type="submit">Create Map!</span></button>
	      		</span>
			</div>
			<p class="help-block">
			</p>
		</form>		
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Create a map</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-lg-4">
      <h2>Load your data</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
   </div>
    <div class="col-lg-4">
      <h2>Share and discuss</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>
</div> <!-- /container -->

<div class="jumbotron">
  <div class="container">
    <h2>Maps we think you'll love, because we do</h2>
    <div class="recent-table">
      <table id="mapTable">
        <tr>
          <th>Map Name</th>
          <th>Unique URL</th>
        </tr>
      </table>
      <ul class="pager">
        <li class="next">
          <a id="nextMapSet">More &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
