<div class="accordion-group">
    <div class="accordion-heading">
        <h4>
            <a class="accordion-toggle" data-toggle="collapse" href="#collapse" data-parent="layer-panel-accordion">
                <span class="icon in-out"></span><span class="model-title"></span>
            </a>
        </h4>
        <ul class="panel-controls pull-right">
            <li class="admin-control layer-editor"><a class="show-layer-editor" href="#"><span class="icon icon-wrench icon-white" href="#"></span></a></li>
            <li class="layer-toggle"><a class="toggle-layer" href="#"><span class="icon icon-eye-open icon-white" href="#"></span></a></li>
            <li class="layer-move"><a class="move-layer drag-handle" href="#"><span class="icon icon-move icon-white" href="#"></span></a></li>
            <li class="layer-details"><a class="show-layer-details" href="#"><span class="icon icon-question-sign icon-white" href="#"></span></a></li>
        </ul>
        <div class="status">
            <div class="text">status text</div>
            <div class="state-indicator"></div>
        </div>
        <div class="progress progress-striped active" style="display: none">
            <div class="bar" style="width: 40%;"></div>
        </div>
        <a class="legend-button toggle"></a>
    </div>

    <div id="collapse" class="accordion-body collapse">
        <div class="accordion-body-content">
            <div class="graphs"></div>
            <div class="legend"></div>
            <div class="details">
                <div class="meta box description">description</div>
            </div>
            <div class="meta source half-opacity">source</div>
        </div>
    </div>
</div>