<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h2>Share current view</h2>
</div>

<div class="modal-body">
    <form class="well urls">
      <h3>Paste link in email or IM:</h3>
      <textarea class="public-url" rows="2" spellcheck="false"></textarea>
      <h3>Paste HTML to embed in website:</h3>
      <textarea class="iframe" rows="4" spellcheck="false"></textarea>
    </form>
  </div>
</div>

<div class="modal-footer">
  <a href="#" data-dismiss="modal" class="btn">Close</a>


</div>
