<div class="settings-tab" id="settingsTab"><h4 id="settingsTabText">HIDE</h4></div>
<div class="data-container" id="dataContainer">
	<div class="accordion">
		<!-- <div class="accordion-group" id="comments">			
		  <div class="accordion-heading">
		    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Comments</a>
		  </div>
		  <div id="collapseOne" class="accordion-body collapse">
		    <div class="accordion-inner">
				<div class="data-toggle">
					<div class="btn-group" data-toggle="buttons-radio">
					  <button class="btn active" id="toggleCommentsVisible">Visible</button>
					  <button class="btn" id="toggleCommentsHidden">Hidden</button>
					</div>
				</div>
		    </div>
		  </div>
		</div> -->
	</div>
	<div class="toggle-group" id="dataManager">
		<div class="data-toggle double">
			<button class="btn data first" id="addData">Add New Data</button>
			<button class="btn data second" id="addDataLibrary">Browse Data Library</button>
		</div>
	</div>
	<div class="toggle-group">
		<div class="data-toggle">
			<button class="btn data third" id="savePosition" disabled="disabled">Save default position</button>
		</div>
	</div>
</div>