.add-data-view .modal-body .add .tab-content .input-large
{
	width:440px;
	height:40px;
	font-size:15pt;
	line-height:28px;
}

.add-data-view .modal-body .add .tab-content .btn.large
{
	width:50px;
	height:40px;
}

.add-data-view .modal-body .add .tab-content .btn.large p
{
	padding-top:10px;
	font-size:10pt;
	font-weight:bold;
	color:#666;
}

.add-data-view .modal-body .add .well.form-inline .input-small
{
	width:335px;
}

.add-data-view .modal-body .add .well.form-inline .color-picker
{
	width:100px;
}

.add-data-view .modal-body .data-table
{
	max-height:200px;
	height:200px;
	overflow:scroll;
}

.add-data-view .modal-body .alert
{
	display:none;
}


.add-data-view .modal-body .add
{
	display:block;
}


.add-data-view .modal-body .review
{
	display:none;
}

.add-data-view .modal-body .review .well div {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}
.label {
	height:20px;
    font-size: 9.75px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	cursor:pointer;
}

.label.lat {
    background-color: #c43c35;
	padding:10px;

}
.label.lng {
    background-color: #f89406;
	padding:10px;
}
.label.location {
    background-color: #46a546;
	padding:10px;
}
.label.name {
    background-color: #62cffc;
	padding:10px;
}
.label.intensity {
    background-color: #62cffc;
	padding:10px;
}

.add-data-view .modal.large
{

}

.add-data-view .modal-body .add .nav.nav-tabs .label
{
	position:relative;
	top:7px;
	margin-right:10px;
}

.add-data-view .modal-footer .btn.btn-success
{
	display:none;
}
