.data-info
{
	z-index:1000;
	position:absolute;
	top:15px;
	right:15px;
	padding: 36px 20px 0 20px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .2);
	background-color:rgba(0,0,0,.5);
	border-color:#222;
	border-radius:8px;
	color: #fff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;

	display: none;
	width: 222px;
	overflow: scroll;
}

.data-info .detail {
	display: none;
}

.panel .accordion-heading {
	position: relative;
}

.panel .accordion-heading .accordion-toggle {
	padding: 0 0 .25em 0;
}

.panel .accordion-group {
	margin-bottom: 10px;
	border: none;
	width: 222px;
	margin: 0;
	padding: 0px;
}

.panel .accordion-group:first-child {
	margin-top: 10px;	
}

.data-info .accordion-group:last-child {
	margin-bottom: 20px;	
}


.data-info.extended, .data-info.extended .accordion-group {
	width: 444px;
}

.data-info .data-legend {
	margin: 30px 0 0 0;
}

.data-info .legend .unit, .data-info h5 {
	margin-top: .25em;
	background-color:rgba(50,50,50,.5);
	padding: .1em .25em .4em .25em;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.data-info .data-legend:first-child {
	margin: 0;
} 

.value
{
	color:white;
	font-size:20pt;
	font-weight:bold;
}

.data-info h4, .data-info h4 a {
	font-weight: bold !important;
	font-size: 24px !important;
	color: white !important;
}

.data-info .status {
	margin-bottom: .5em;
	color: #999;
}

.data-info .state-indicator {
	position: absolute;
	right: 0px;
	top: 0px;
}

.data-info .legend {
}

.data-info .color-bar {
	list-style: none;
	padding: 0;
	margin: 3px 0 0 0;
}

.data-info .color-bar li {
	float: left;
	overflow: hidden;
}

.data-info {
	text-shadow:rgba(0,0,0,.8) 1px 1px 0px;
}

.data-info .color-bar li .segment {
	font-weight: bold;
	font-size: 12px;
	padding: .25em .5em .25em .5em;
	text-align: center;
	color: #000;
	font-weight: bold;
	text-shadow:rgba(255,255,255,.8) 0px 1px 0px;
	border-right: 1px rgba(0,0,0,.25) solid;
	border-bottom: 1px rgba(0,0,0,.25) solid;
}

.data-info .color-bar.condensed li .segment {
	font-size: 14px;
}

.data-info .color-bar li:first-child .segment {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-left: 0;
}

.data-info .color-bar li:last-child .segment {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-right: 0;
}

.data-info .histogram {
/*	background-color:rgba(50,50,50,.25);*/
	width: 222px;
	height: 30px;
}

.data-info .histogram rect {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
}

.data-info.extended .histogram {
	width: 444px;
	height: 60px;
}

.data-info table {
	padding: 0;
	margin: 0;
	width: 100%;
}

.data-info .detail-data {
	margin-top:15px;
}

.data-info .value-label {
	font-weight: normal;
	line-height: 35px;
	font-size: 24px;
	text-align: left;
	width: 50%;
	line-height: 1em;
	padding: 0 .25em 0 0;
	white-space: nowrap;
	color: #999;
}

.data-info .value-label.single {
	padding: 0 .0 .3em 0;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.data-info h5 {
	color: #fff;
	font-size: 18px;
	margin: 0;
	padding: .2em .25em .3em .25em;
}

.data-info .value {
	font-weight: bold;
	line-height: 35px;
	font-size: 35px;
	text-align: right;
	width: 50%;
	padding: 0;
	white-space: nowrap;
}

.data-info .micro, .data-info .legend .unit {
	font-size: 12px;
}

.data-info .detail-metadata .value-label, .data-info .detail-metadata .value.single {
	font-size: 12px;
	color: #999;
	line-height: 1.5em;
	font-weight: normal;
}

.data-info .detail-metadata .value {
	font-size: 13px;
	color: #bbb;
	line-height: 1.5em;
	font-weight: bold;
}

.data-info .value.single {
	text-align: left;
}

.data-info .detail-metadata {
	margin-top: 1em;
}

