.data-info .data-legend {
	margin: 20px 0 0 0;
}

.data-info .legend .unit, .data-info h5 {
	margin-top: .25em;
	background-color:rgba(50,50,50,.5);
	padding: .1em .25em .4em .25em;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.unit .nav-pills {
    margin: 0 auto !important;
    padding: 0 !important;
    display: inline-block !important;
    height: 16px !important;
} 

.unit .nav-pills a, .unit .nav-pills span {
	color: #999 !important;
	margin: 1px !important;
	padding: 3px 8px 5px 8px !important;
	line-height: 14px;
	display: block;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.unit .nav-pills a:hover {
	color: white !important;
	background-color: #333;
}

.unit .nav-pills .active a, .unit .nav-pills .active a:hover, .unit .nav-pills .active span {
	color: white !important;
	background-color: #666;
}

.data-info .data-legend:first-child {
	margin: 0;
}

.value
{
	color:white;
	font-size:20pt;
	font-weight:bold;
}

.data-info h4, .data-info h4 a {
	font-weight: bold !important;
	font-size: 24px !important;
	color: white !important;
}

.panel h4 .icon {
	margin: 5px 3px 0px 3px;
}


.panel h4 .icon.in-out {
	margin-left: -3px;
}

.data-info .status {
	margin-bottom: .5em;
}

.data-info h4 {
	width: 210px;	
}

.data-info .state-indicator, .data-info .visibility.toggle {
	position: absolute;
	right: 0px;
	top: 5px;
}

.data-info .legend {
}

.data-info .color-bar {
	list-style: none;
	padding: 0;
	margin: 3px 0 0 0;
}

.data-info .color-bar li {
	float: left;
	overflow: hidden;
}

.data-info {
s}

.data-info .color-bar li .segment {
	font-weight: bold;
	font-size: 12px;
	padding: .25em .5em .25em .5em;
	text-align: center;
	color: #000;
	font-weight: bold;
	text-shadow:rgba(255,255,255,.8) 0px 1px 0px;
	border-right: 1px rgba(0,0,0,.25) solid;
	border-bottom: 1px rgba(0,0,0,.25) solid;
}

.data-info .color-bar.condensed li .segment {
	font-size: 14px;
}

.data-info .color-bar li:first-child .segment {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-left: 0;
}

.data-info .color-bar li:last-child .segment {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-right: 0;
}

.data-info .histogram {
/*	background-color:rgba(50,50,50,.25);*/
	position: relative;
	width: 222px;
	height: 30px;
}

.data-info .histogram .graph-max-y {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 10px;
	display: none;
}

.data-info .histogram rect {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
}

.data-info.extended .histogram {
	width: 444px;
	height: 60px;
}

.data-info table {
	padding: 0;
	margin: 0;
	width: 100%;
}

.data-info .detail-data {
	margin-top:15px;
}

.data-info .value-label {
	font-weight: normal;
	line-height: 35px;
	font-size: 24px;
	text-align: left;
	width: 50%;
	line-height: 1em;
	padding: 0 .25em 0 0;
	white-space: nowrap;
}

.data-info .value-label.single {
	padding: 0 .0 .3em 0;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.data-info h5 {
	color: #fff;
	font-size: 18px;
	margin: 0;
	padding: .2em .25em .3em .25em;
}

.data-info .value {
	font-weight: bold;
	line-height: 35px;
	font-size: 35px;
	text-align: right;
	width: 50%;
	padding: 0;
	white-space: nowrap;
}

.data-info .micro, .data-info .legend .unit {
	font-size: 12px;
}

.data-info .caret {
	border-top: 4px solid white !important;
}

.data-info .detail-metadata .value-label, .data-info .detail-metadata .value.single {
	font-size: 12px;
	line-height: 1.5em;
	font-weight: normal;
}

.data-info .detail-metadata .value {
	font-size: 13px;
	color: #bbb;
	line-height: 1.5em;
	font-weight: bold;
}

.data-info .value.single {
	text-align: left;
}

.data-info .detail-metadata {
	margin-top: 1em;
}

