/* Points */
.legend-button.P {
	background-image: url(../assets/vis-bubbles-tmp.png);
}

/* Cells */
.legend-button.C {
	background-image: url(../assets/vis-bubbles-tmp.png);
}

/* Bubbles */
.legend-button.B {
	background-image: url(../assets/vis-bubbles-tmp.png);
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features button {
	width:76px;
	height:50px;
	text-shadow:none;
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: none;
	border-color: none;
	border-bottom-color: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features button:hover {
	
}

.sidebar-view .data-container .histogram {
	height: 30px;
	width: 222px;
	margin-bottom: 4px;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.cells {
	background-image:url('../assets/feature-cells.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.cells:hover {
	background-image:url('../assets/feature-cells-active.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	border:1px solid #3fa8e1;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.cells.active {
	background-image:url('../assets/feature-cells-active.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	border:1px solid #3fa8e1;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.points {
	background-image:url('../assets/feature-points.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.points:hover {
	background-image:url('../assets/feature-points-active.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	border:1px solid #3fa8e1;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.points.active {
	background-image:url('../assets/feature-points-active.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	border:1px solid #3fa8e1;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.bubbles {
	background-image:url('../assets/feature-bubbles.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.bubbles:hover {
	background-image:url('../assets/feature-bubbles-active.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	border:1px solid #3fa8e1;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group.features .btn.feature-type.bubbles.active {
	background-image:url('../assets/feature-bubbles-active.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	border:1px solid #3fa8e1;
}

.btn-group.colors {
	margin-top:18px;
}

.feature-settings.B {
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
}

.feature-settings.B label {
	font-style:italic;
	color:#777;
}

#gradientEditor .gradient-editor-color-editor
{
	margin-top:15px;
	margin-left:7px;
}

#gradientEditor .gradient-editor-instructions
{
	display:none;
}

#gradientEditor .colorpicker_rgba_g {
	display:none;
}

.accordion-inner .data-controls .color-gradient {
	display:none;
	height:275px;
}