#main-viewport .panel.data-library {
	width: 300px;
}

#main-viewport .panel.data-library.extended {
	width: 474px;
}

.panel.data-library.panel-anchor-left .panel-scrollable-container {
	margin-top: 170px;
}

.data-library .map-layer {	
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;

	background-color: rgba(255, 255, 255, .25);
	border: 1px solid rgba(128,128,128,.3);
	z-index: 0;
	margin: 0 0 .25em 0;
	padding: .5em 1em .5em 1em;
}

.panel.data-library .map-layer {	
	cursor: move;
}

.data-library .map-layer.drag-helper {	
	box-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
	z-index: 999;
}

.data-library .map-layer:hover {
	border: 1px solid #44bbee;
	z-index: 1100;
}

.data-library .model-title {
	max-width: 100% !important;
}

.drop-zone
{
	z-index:999;
	position:absolute;
	top:0px;
	bottom:0px;
	left:300px;
	right:0px;
	
	background-color:rgba(25, 25, 25, .6);
	box-shadow:inset 0px 0px 500px rgba(0, 0, 0, 1);
	margin:auto;
	
	opacity:0;

	pointer-events:none;

}

.drop-zone.visible
{
	opacity:1;
	-webkit-transition: opacity 1.3s linear;
    -moz-transition: opacity 1.3s linear;
    -o-transition: opacity 1.3s linear;
    -ms-transition: opacity 1.3s linear;
}

.drop-zone .instruction
{
	position:absolute; 
	top:50%;
	left:50%;
	font-size:40pt;
	margin-left:-80px;
	margin-top:-25px;
	color:#ccc;
	opacity:1;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
	text-transform: uppercase;
	-webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    -ms-transition: color .2s linear;
}

.drop-zone.hover .instruction {
	color:#fff;
}

.data-library .status {
	position: relative;
}

.data-library .status .state-indicator {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 2px;
	top: 0px;
}

/*
.data-library
{
	display:none;
	z-index:1100;
	position:absolute;
	top:0px;
	bottom:0px;
	left:-300px;
	width:300px;
	box-shadow:  2px 0px 3px rgba(0, 0, 0, .2);
	background-color: #fdfdfd;
}

.data-library .backdrop {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.data-library .content {
	position: relative;
}

.data-library #closeDatalibrary {
	margin: 0;
}

.data-library .instructions
{
	width: 100%;
	color: #888;
	margin-top: 1em;
	text-align: center;
	font-style: italic;
	
}

.data-library .data-search {
	width: 100%;
	text-align:center;
}

.data-library .data-search input {
	width: 250px;
}

.data-library .well
{
	width: 260px;
	margin: 10px;
	padding: 10px;
}

.data-library .well > button
{
	margin-bottom: 10px;
	height: 34px;
	width: 100%;
}

.data-library .data-container {
}

.data-library .data-container .data-item {	
	margin-bottom:10px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;

	padding: 1em;	
	background-color:white;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, .15);
	border:1px solid rgba(0,0,0,.2);
	cursor:pointer;
	z-index: 0;
}

.data-library .data-container .data-item:last-child {	
	margin-bottom: 0;
}

.data-library .data-container .data-item:hover {
	
	box-shadow: 0px 1px 12px rgba(0, 0, 0, .2);
	border:1px solid #44bbee;
	z-index: 1100;
}

.data-library .data-container .data-item .data-icon
{
	float:left;
	width:23px;
	height:20px;
	background-image:url('../assets/data-library-drag.png');
}

.data-library .data-container .data-item .data-count {
	margin-left: 23px;
}

.data-library .data-container .data-item .data-title
{
	float:left;
	margin-left:10px;
	color:#888;
	font-size: 20px;
	color: black;
}

.data-library p, .data-library h5 {
	margin: .5em 0 .5em 0;
}

.data-library p:last-child, .data-library h5:last-child {
	margin-bottom: 0;
}

.data-library .drop-zone
{

}

.data-library .data-container .data-item .ui-draggable.hidden
{
	background-color:red;
}
*/