
.message {
	position:absolute;
	left:-280px;
}

.olControlPanZoomBar
{
	margin-left:15px;
	margin-top:-42px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.setup {
	display:none;
}

.sidebar-view {
	display:none;
}

.nav-collapse .graph {
	display:none;
}
.nav-collapse .setup {
	display:none;
}
.chat-view {
	display:none;
}
#dataManager {
	display:none;
}
#comments {
	display:none;
}
.data-inspector #removeData {
	display:none;
}
