/*
@font-face {
    font-family: 'Vit';
    src: url('../assets/type/vit.eot');
    src: url('../assets/type/vit.eot?#iefix') format('embedded-opentype'),
         url('../assets/type/vit.woff') format('woff'),
         url('../assets/type/vit.ttf') format('truetype'),
         url('../assets/type/vit.svg#Vit') format('svg');
    font-weight: bold;
    font-style: normal;
}
*/

@import url(http://fonts.googleapis.com/css?family=Oxygen:300,700|Roboto+Slab:100,700|Roboto+Condensed:400);

body, select, textarea, p, input, button {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
}

.app-title {
  font-family: "Roboto Slab";
  font-weight: 100;
  font-size: 14px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

h1,
h3, .modal h2,
label, .box.title, header .map-title, .panel-heading, 
.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  
  font-size:15px;
  color:#666;
}

.muted {
  color:#999;
}

.micro {
  font-size: 12px;
}

header a, header a:hover, header a:focus {
  text-decoration: none;
  color: white;
}

header .map-title {
  font-size: 22px;
  padding-left: 5px;
  color: white;
}

.collapsible-heading, .collapsible-heading a, .heading, .page h2, .object-list .model-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #353535;
}

.box.heading {
  font-size: 16px;
  line-height: 22px;
}

label, .hint-toggle {
  font-size: 14px;
  color:#666;
}

h4, h5, .condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

b, strong {
  font-weight: 700;
}

.text h1, .text-xl, .icon-xl {
  font-size: 25px;
  line-height: 34px;
}

.icon-xl {
  margin: 0 .5em .5em 0;
}

.text h1:first-child {
  margin-top: 0;
}

.text .btn-lg {
  text-align: left;
  width: 100%;
}

.btn-lg .glyphicon {
  margin-right: .5em;
}

.popover-content {
  color: #666;
}