@font-face {
    font-family: 'Vit';
    src: url('../assets/type/vit.eot');
    src: url('../assets/type/vit.eot?#iefix') format('embedded-opentype'),
         url('../assets/type/vit.woff') format('woff'),
         url('../assets/type/vit.ttf') format('truetype'),
         url('../assets/type/vit.svg#Vit') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OswaldLight';
    src: url('../assets/type/Oswald-Light-webfont.eot');
    src: url('../assets/type/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/type/Oswald-Light-webfont.woff') format('woff'),
         url('../assets/type/Oswald-Light-webfont.ttf') format('truetype'),
         url('../assets/type/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBook';
    src: url('../assets/type/Oswald-Regular-webfont.eot');
    src: url('../assets/type/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/type/Oswald-Regular-webfont.woff') format('woff'),
         url('../assets/type/Oswald-Regular-webfont.ttf') format('truetype'),
         url('../assets/type/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBold';
    src: url('../assets/type/Oswald-Bold-webfont.eot');
    src: url('../assets/type/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/type/Oswald-Bold-webfont.woff') format('woff'),
         url('../assets/type/Oswald-Bold-webfont.ttf') format('truetype'),
         url('../assets/type/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldStencilRegular';
    src: url('../assets/type/Oswald-Stencil-webfont.eot');
    src: url('../assets/type/Oswald-Stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/type/Oswald-Stencil-webfont.woff') format('woff'),
         url('../assets/type/Oswald-Stencil-webfont.ttf') format('truetype'),
         url('../assets/type/Oswald-Stencil-webfont.svg#OswaldStencilRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html {
	
}

body {
	background-color:#edeeee;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-align: left;
	/* Disable text selection globally */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a {
	cursor: pointer;
}

.micro {
	font-size: 12px;
}

a:link.accordion-toggle {
	text-decoration: none;
}

p {
  color: #7f7f7f;
  font-size:10pt;
  font-weight: normal;
  line-height: 18px;
}

h1 {
	font-family: Vit ,sans-serif;
	font-style: normal;
	font-weight: 700;
	line-height:38px;
}

.state-indicator {
	width: 16px;
	height: 16px;
	display: none;
}

.state-indicator.loading {
	background-image:url('../assets/loader.gif');
	margin-top: -1px;
	display: block;
}


.panel
{
	z-index:1000;
	position:absolute;
	top:15px;
	right:15px;
	padding: 36px 20px 0 20px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .2);
	background-color:rgba(100,100,100,.8);
	border-color:#222;
	border-radius:8px;
	color: #ddd;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	width: 300px;
	overflow: scroll;
	text-shadow:rgba(50,50,50,.8) 1px 1px 0px;
}

.map-style-dark .panel {
	color: #999;
	background-color:rgba(0,0,0,.5);
	text-shadow:rgba(0,0,0,.8) 1px 1px 0px;
}

.panel h2 {
	color: white;
	background-color:rgba(0,0,0,.5);
}

.panel.data-info {
	display: none;
	width: 222px;
}

.panel.data-info .detail {
	display: none;
}

.panel .accordion-heading {
	position: relative;
}

.panel .accordion-heading .accordion-toggle {
	padding: 0 0 .25em 0;
}

.panel .accordion-group {
	border: none;
	width: 222px;
	margin: 0;
	padding: 0px;
}

.panel .accordion-body-content {
	padding-bottom: 20px;
}

.panel.extended, .panel.extended .accordion-group {
	width: 444px;
}

.panel .state-indicator.loading {
	background-image:url('../assets/loader-light.gif');
}


h2,
h3 {
/*	font-family: OswaldLight,sans-serif;*/
	font-family: "AlternateGothicFSNo3", sans-serif;
	
	font-size:15pt;
	font-weight: bold;
	color: #353535;
}

h4, h5, .condensed {
/*	font-family: OswaldBold, sans-serif;*/
	font-family: "AlternateGothicFSNo3", sans-serif;
}

h4 {
	font-weight: bold;
}

input, textarea {
	color:#000;
	font-size: 14px;
	border: 1px solid #cbd0d7;
	border-right: 1px line #eee;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	padding: 10px;
	box-shadow:inset 1px 1px 1px 0px rgba(100,100,100,0.2);
	resize: none;
	font-family: inherit;
}

input:focus, textarea:focus {
	outline: none;
	border: 1px solid #5eb6e4;
	box-shadow: 0 0 10px #5eb6e4;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #AAA;
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #AAA;
}

.loading-indicator
{
	overflow: hidden;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image:url('../assets/homepage/loader.gif');
	background-position:center center;	
	background-repeat:no-repeat;
}

.panel .panel-header {
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}

.panel .panel-body {
	padding-top: 10px;
}

.panel .panel-header .frame {
	background-color:rgba(50, 50, 50, .5);
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin: 3px;
	cursor: move;
}

.panel .panel-header h3 {
	float: left;
	margin: 0px;
	color: #ccc;
	font-size: 13px;
	font-weight: normal;
	padding: 0 15px 0 16px;
	line-height: 27px;
}

.panel .panel-header .buttons {
	float: right;
	list-style: none;
	margin: 4px 4px 0 0;
}

.panel .panel-header .buttons li {
	float: right;
	margin-left: .5em;
	line-height: 27px;
}

.panel .panel-header a, .panel a .in-out {
	font-weight: bold;
	color: white;
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../assets/panel-buttons.png);
}

.panel .panel-header .buttons a span {
	display: none;
}

.panel .panel-header .buttons a.extend {
	background-position: 0px top;
}

.extended .panel .panel-header .buttons a.extend {
	background-position: -16px top;
}

.panel .panel-header .buttons a.collapse {
	background-position: -32px top;
}

.panel.collapsed .panel-header .buttons a.collapse {
	background-position: -48px top;
}

.panel a .in-out.in {
	background-position: -64px top;
}

.panel a .in-out.out {
	background-position: -80px top;
}

.panel .panel-header .buttons a:hover, .panel a:hover .in-out {
	background-position-y: bottom !important;
}

.snap {
	background-color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	visibility: hidden;
	z-index: 999999;
}

.snap.top {
	width: 100%;
	height: 15px;
}

.snap.right {
	width: 15px;
	height: 100%;
}

.modal {
	max-height: 600px !important;
}

fieldset.two-column div {
	width: 50%;
	overflow: hidden;
	float: left;
}

fieldset.two-column input {
	width: 230px;
}

.progress-striped {
	height: 12px !important;
}

.progress-striped .bar {
	background-color: #00C9FF !important;
}

.navbar .nav .inactive > a, .navbar .nav .inactive > a:hover {
  color: #aaa;
  cursor: pointer;
  background: transparent !important;
}

#map_canvas img {
	/* reset a bootstrap setting that conflicts with OpenStreetMap */
	max-width: none !important;
}