.element-template {
	display: none;
}


body {
	background-color:#edeeee;
	/*font-family: Helvetica, Helvetica Neue, Arial, sans-serif;*/
	text-align: left;
	/* Disable text selection globally */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a {
	cursor: pointer;
}

.half-opacity { 
	-moz-opacity:.50 !important; filter:alpha(opacity=50) !important; opacity:.50 !important; 
}

.btn.muted .icon {
	-moz-opacity:.80 !important; filter:alpha(opacity=80) !important; opacity:.80 !important; 
}

.micro {
	font-size: 12px;
}

a:link.accordion-toggle {
	text-decoration: none;
}

p {
  color: #7f7f7f;
  font-size:10pt;
  font-weight: normal;
  line-height: 18px;
}

.state-indicator {
	display: relative;
	margin-right: 2px;
	width: 16px;
	height: 16px;
}

.state-indicator .spinner {
	position:absolute;
	top:50%;
	left:50%;
}

form.well, .panel .well {
	margin: 0;
}

.modal-body .nav-tabs, .panel .nav-tabs {
	margin-bottom: 15px;
}

.snap {
	background-color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	visibility: hidden;
	z-index: 999999;
}

.snap.top {
	width: 100%;
	height: 15px;
}

.snap.right {
	width: 15px;
	height: 100%;
}


fieldset.two-column div {
	width: 50%;
	overflow: hidden;
	float: left;
}

fieldset.two-column input {
	width: 230px;
}

.progress-striped {
	height: 12px !important;
}

.progress-striped .bar {
	background-color: #00C9FF !important;
}

#map_canvas img {
	/* reset a bootstrap setting that conflicts with OpenStreetMap */
	max-width: none !important;
}

/*input.text.large {
	font-size: 18px;
	height: 40px;
	color: #999;
}*/

.popover {
	/* for popover in modal dialogs */
	z-index: 1100 !important;
}

input.color-picker {
	width: 70px;
	display: inline-block;
}

.drag-handle {
	cursor: move;
}

.btn-default {
	background-color: #f8f8f8;
}

.urls .form-control {
	cursor: pointer;
} 

.form-control.map-admin-url, .form-control.has-error {
	background-color: #ffece5;	
}

.form-control.map-url {
	background-color: #e7ffe5;
}

.button-height {
	line-height: 34px;
}

@media screen and (min-width: 900px) {
  .modal-dialog.large {
    width: 80%;
  }
}

