.element-template {
	display: none;
}


body {
	/* Disable text selection globally */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a {
	cursor: pointer;
}

.half-opacity { 
	-moz-opacity:.50 !important; filter:alpha(opacity=50) !important; opacity:.50 !important; 
}

.btn.muted .icon {
	-moz-opacity:.80 !important; filter:alpha(opacity=80) !important; opacity:.80 !important; 
}

a:link.accordion-toggle {
	text-decoration: none;
}

p {
  line-height: 20px;
}

.state-indicator {
	display: relative;
}

.state-indicator .spinner {
	position:absolute;
	top:50%;
	left:50%;
}

.object-list .spinner {
	margin: 0 auto;
}

form.well, .panel .well {
	margin: 0;
}

.modal-body .nav-tabs, .panel .nav-tabs, .page .nav-tabs {
	margin-bottom: 15px;
}

.snap {
	background-color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	visibility: hidden;
	z-index: 999999;
}

.snap.top {
	width: 100%;
	height: 15px;
}

.snap.right {
	width: 15px;
	height: 100%;
}


fieldset.two-column div {
	width: 50%;
	overflow: hidden;
	float: left;
}

fieldset.two-column input {
	width: 230px;
}

.progress-striped {
	height: 12px !important;
}

.progress-striped .bar {
	background-color: #00C9FF !important;
}

#map_canvas img {
	/* reset a bootstrap setting that conflicts with OpenStreetMap */
	max-width: none !important;
}

/*input.text.large {
	font-size: 18px;
	height: 40px;
	color: #999;
}*/

.popover {
	/* for popover in modal dialogs */
	z-index: 1100 !important;
}

input.color-picker {
	width: 70px;
	display: inline-block;
}

.drag-handle {
	cursor: move;
}

.btn-default {
	background-color: #f8f8f8;
}

.urls .form-control {
	cursor: pointer;
} 

.form-control.map-admin-url, .form-control.has-error {
	background-color: #ffece5;	
}

.form-control.map-url {
	background-color: #e7ffe5;
}

.button-height {
	line-height: 34px;
}

@media screen and (min-width: 900px) {
  .modal-dialog.large {
    width: 80%;
  }
}

button .glyphicon-ok.pull-right {
	margin-right: 0;
}

.table td:last-child, .table th:last-child {
	text-align: right;
}

.text-center {
	text-align: center;
}

.well h2 {
	margin-top: 0;
}

.col-title {
  width: 80%;
}

.col-date {
  white-space: nowrap;
}

.collapse-toggle .in-out {
	margin-left: -14px;
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url(../assets/collapse-in-out.png);
	background-position: 0 top;
	-moz-opacity:.75; filter:alpha(opacity=50); opacity:.50; 
}

.collapse-toggle:hover .in-out {
	-moz-opacity:1; filter:alpha(opacity=100); opacity:1; 
}

.collapse-toggle.collapsed .in-out {
	background-position: 16px top;
}

.box {
	padding: 5px 8px 6px 8px;
	margin-top: 4px;
	/*background-color:rgba(50,50,50,.3);*/
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:rgba(220, 220, 220, .6);
}

.nav-pills-inline {
    margin: 0 auto !important;
    padding: 0 !important;
    display: inline-block !important;
}

.nav-pills-inline a, .nav-pills-inline span {
	margin: 2px !important;
	padding: 1px 6px 1px 6px !important;
	display: block;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.nav-pills-inline a:hover {
	color: white !important;
	background-color: #333;
}
.nav-pills-inline .active a, .nav-pills-inline .active a:hover, .nav-pills-inline .active span {
	color: white !important;
	background-color: #666;
}
