.graph-view
{
	position:absolute;
	bottom:-250px;
	right:0px;
	left:0px;
	height:250px;
	z-index:999;
	background-color:white;
	opacity:.9;
	border-top:1px solid #333;
	
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.graph-view.visible
{
	bottom:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.graph-view .graphContainer
{
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}

/* RICKSHAW */

#chart {
	display: inline-block;
}
#legend {
	display: inline-block;
	position: relative;
	left: 8px;
}
#legend_container {
	position: absolute;
	right: 150px;
	bottom: 80px;
	width: 0;
}
#chart_container {
	float: left;
	position: relative;
}

.ui-slider-horizontal {
	z-index:99999;
	
	height: 1px !important;
	border-color: #e0e0e0;
	margin-bottom: 10px;
}
.ui-slider-handle {
	border-color: #a0a0a0;
	height: 9px !important;
	width: 9px !important;
	top: -5px !important;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}