.graph-view
{
	position:absolute;
	bottom:0px;
	right:0px;
	left:300px;
	z-index:9999;
	height:300px;
	background-color:rgba(0,0,0,.8);
}

.graph-view path {
    stroke: white;
    stroke-width: 2;
    fill: none;
}
 
.graph-view line {
    stroke: white;
}
 
.graph-view text {
    font-family: Arial;
    font-size: 9pt;
	fill: white;
}