.header-view
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:40px;
	border-bottom:1px solid rgba(255,255,255,.1);	
}

.header-view .nav-pills > li > a {
	margin: 0 !important;
}

.header-view .navbar.navbar-fixed-top .navbar-inner
{
	padding-top:5px;
	height:45px;
	background-image:none;
	background-color:black;
}

.header-view .navbar.navbar-fixed-top .navbar-inner .container-fluid .brand
{
}

.header-view .navbar.navbar-fixed-top .navbar-inner .container-fluid .brand h1
{
	float:left;
	color:#555;
	font-size:12pt;
	line-height:20pt;
}

.header-view .navbar.navbar-fixed-top .navbar-inner .container-fluid .brand h3
{
	padding-left:10px;
	float:left;
	color:white;
	font-size:21pt;
	margin-top: -2px;
}

#viewBase .view-base-thumb {
	border: 1px #666 solid;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	display: inline-block;
	width: 80px;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
}

#viewBase .inactive .view-base-thumb {
	-moz-opacity:.25 !important; filter:alpha(opacity=25) !important; opacity:.25 !important;	
}

#viewBase .view-base-caption {
	line-height: 40px;
	vertical-align: middle;
	display: inline-block;
	padding: 2px 0 0 .5em;
	height: 40px;
	vertical-align: top;
}

#search
{
	position:absolute;
	top:10px;
	right:15px;
	padding:4px 9px;
	background-color:rgba(255, 255, 255, 0.3);
	border:1px solid #111;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
	border-radius:3px;
}

.search-query:focus
{
	background-color:#fff;
	color:#FFF;
}

.search-query {
	width: 230px;
}

#settingsButton
{
	width:125px;
}

.header-view .state
{
	position:absolute;
	top:71px;
	left:355px;
	display:none;
	height:32px;
}

.header-view .state .message
{
	height:32px;
	background-color:rgba(255,255,255,1);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.4);
	box-shadow: 0px 1px 2px rgba(0,0,0,.4);
}

.header-view #stateIndicatorMessage {
	white-space: nowrap;
}

.header-view .state .message .importProgress {
	padding: 0 .5em 0 .5em;
	color: black;
}

.header-view .state .message h4
{	
	color:black;
	padding-left:35px;
	padding-right:1em;
	font-size:13pt;
	color:#666;
	line-height:26pt;
	background-image:url('../assets/loader.gif');
	background-position:10px 8px;
	background-repeat:no-repeat;
}

.header-view #map-tools
{
	position:absolute;
	right:290px;
	top:12px;
	width:300px;
	height:24px;
	list-style: none;
}

.header-view #map-tools li {
	margin: 0;
	padding: 0 16px 0 0;
	float: right;
}

.header-view #map-tools .map-tool-icon {
	display: block;
	width: 24px;
	height: 24px;
}

.header-view .map-tool {
	display: block;
	opacity: .60;
	-moz-opacity: .60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: -moz-opacity 100ms ease-out;
	transition: opacity 100ms ease-out;
}

.header-view .map-tool:hover, .header-view .map-tool:active
{
	opacity: 1;
}

.header-view .icon.map-tool-icon
{
	width: 24px;
	height: 24px;
	background: url('../assets/map-tool-icons.png') no-repeat;
}

.header-view .icon.map-tool-icon.setup {
	background-position: 0%;
}

.header-view .icon.map-tool-icon.add-data {
	background-position: 50%;
}

.header-view .icon.map-tool-icon.upload {
	background-position: 100%;
}


.header-view .graph
{
	position:absolute;
	right:310px;
	top:12px;
	width:24px;
	height:24px;
	cursor:pointer;
	opacity:.5;
}

.header-view .graph:hover
{
	opacity:1;
}

.header-view .graph .icon
{
	float:left;
	width:33px;
	height:24px;
	background-image:url('../assets/graph-icon.png');
	background-repeat:no-repeat;
}

.header-view .graph.active
{
	opacity:1;
}