@import url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css");
@import url("http://fonts.googleapis.com/css?family=Oxygen:300,700|Roboto+Slab:100,700|Roboto+Condensed:400");
@import url("http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css");
@import url("../lib/bootstrap/dist/css/bootstrap.css");
@import url("../lib/bootstrap-glyphicons/css/bootstrap.icon-large-mod.css");
@import url("jquery.miniColors.css");

@import url("fonts.css");
@import url("global.css");
@import url("site.css");
@import url("header.css");
@import url("data-detail.css");
@import url("map.css");
@import url("panels.css");
@import url("layers-panel.css");
@import url("map-layer-editor.css");
@import url("data-library.css");
@import url("data-import.css");
@import url("graphs.css");


.icon {
	display: inline-block;
}

.header-view
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
}

.graph-view
{
	z-index:998;
}

.sidebar-view
{
	z-index:997;
	position:absolute;
	top:50px;
	left:0px;
	width:400px;
	bottom:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}
.sidebar-view .settings-tab
{
	z-index:999;
}

.sidebar-view .data-library
{
	z-index:998;
}

.sidebar-view.visible
{
	left:-400px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

#main-viewport
{
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;	
	overflow: hidden;
}

#main-viewport .map-view {
	z-index: 0;
}

#main-viewport .panel {
	z-index: 900;
}


/* https://github.com/twbs/bootstrap/issues/8768*/
.modal {
	overflow-y: auto !important;
}
body.modal-open{
	margin-right:0px!important;
}
.modal-open .navbar-fixed-top{
	margin-right:0px!important;
}

