@import url("reset.css");
@import url("global.css");

@import url("homepage.css");
@import url("header.css");
@import url("map.css");
@import url("map-gl.css");
@import url("modal.css");
@import url("add-data.css");
@import url("sidebar.css");
@import url("sidebar-data.css");
@import url("chat.css");
@import url("data-library.css");

@import url("bootstrap.css");
@import url("jquery.miniColors.css");

.header-view
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
}

.sidebar-view
{
	position:absolute;
	top:50px;
	left:0px;
	width:300px;
	bottom:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.sidebar-view.visible
{
	left:-300px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.chat-view
{
	position:absolute;
	top:50px;
	right:-300px;
	width:270px;
	bottom:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.chat-view.visible
{
	right:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-view
{
	position:absolute;
	top:50px;
	left:300px;
	right:0px;
	bottom:0px;	
	
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-view.full
{
	left:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-gl-view
{
	position:absolute;
	top:50px;
	left:300px;
	right:0px;
	bottom:0px;	
	
	width:100%;
	height:100%;
	
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-gl-view canvas
{	

}

.map-gl-view.full
{
	left:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}
