@import url("reset.css");
@import url("global.css");
@import url("panels.css");
@import url("../assets/type/alternategothicfs_no3/stylesheet.css");

@import url("homepage.css");
@import url("header.css");
@import url("map.css");
@import url("map-gl.css");
@import url("modal.css");
@import url("add-data.css");
@import url("sidebar.css");
/*@import url("data-inspector.css");*/
@import url("chat.css");
@import url("data-library.css");
@import url("graph.css");
@import url("data-info.css");
@import url("data-detail.css");
@import url("map-layer-editor.css");
/*@import url("timeline.css");*/

/*@import url("rickshaw.min.css");*/

@import url("jquery.miniColors.css");
@import url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css");
/*@import url("jquery-ui-1.8.16.custom.css");*/
@import url("bootstrap.css");
/*@import url("../lib/bootstrap/css/bootstrap.css");
@import url("../lib/bootstrap/css/bootstrap-responsive.css");*/

@import url("../lib/gradient-editor/gradient-editor.css");
@import url("../lib/colorpicker/css/colorpicker.css");

#home 
{
	overflow-y:scroll;
}

#app {
	
}

.drop-zone
{
	z-index:996;
}

.header-view
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
}

.graph-view
{
	z-index:998;
}

.sidebar-view
{
	z-index:997;
	position:absolute;
	top:50px;
	left:0px;
	width:400px;
	bottom:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}
.sidebar-view .settings-tab
{
	z-index:999;
}

.sidebar-view .data-library
{
	z-index:998;
}

.sidebar-view.visible
{
	left:-400px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.chat-view
{
	z-index:999;
	position:absolute;
	top:50px;
	right:-300px;
	width:270px;
	bottom:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.chat-view.visible
{
	right:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-view
{
	z-index:996;
	position:absolute;
	top:50px;
	left:0px;
	right:0px;
	bottom:0px;	
	
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-view.full
{
	left:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-gl-view
{
	z-index:996;
	
	position:absolute;
	top:50px;
	left:0px;
	right:0px;
	bottom:0px;	
	
	width:100%;
	height:100%;
	
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.map-gl-view.full
{
	left:0px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.gest-cursor {
	z-index: 9999999;
	width: 100px;
	height: 100px;
	position: fixed;
	border: 5px #999 dashed;
	-webkit-transform: scale(0.5);
	-webkit-transition: width .2s ease-out, height .2s ease-out;
}

.gest-cursor.active {
	border-color: #aaa;
	width: 120px;
	height: 120px;
}

