.map-layer-editor .panel-header h3 {
	max-width: 70%;
	overflow: hidden;
}

.map-layer-editor .tab-content {
	overflow: visible;
}

.map-layer-editor .radio.inline {
	white-space: nowrap;
	margin-right: 1em;
}

.map-layer-editor button.feature-type {
	width:70px;
	height:60px;
	text-shadow:none;
	vertical-align: middle;
	background-color: #f5f5f5;
	background-image: none;
	border-color: none;
	border-bottom-color: none;
	cursor: pointer;
	background-repeat:no-repeat;
}

.map-layer-editor .icon.icon-feature-type {
	background-image: url('../assets/feature-type-icons.png');
	width: 50px;
	height: 50px;
}

.map-layer-editor .btn.feature-type.points .icon-feature-type {
	background-position: 0px 0%;
}

.map-layer-editor .btn.feature-type.points:hover .icon-feature-type, .btn.feature-type.points.active .icon-feature-type {
	background-position: 0px 100%;
}

.map-layer-editor .btn.feature-type.square-tiles .icon-feature-type {
	background-position: -50px 0%;
}

.map-layer-editor .btn.feature-type.square-tiles:hover .icon-feature-type, .btn.feature-type.square-tiles.active .icon-feature-type {
	background-position: -50px 100%;
}

.map-layer-editor .btn.feature-type.bubbles .icon-feature-type {
	background-position: -100px 0%;
}

.map-layer-editor .btn.feature-type.bubbles:hover, .btn.feature-type.bubbles.active .icon-feature-type {
	background-position: -100px 100%;
}

.map-layer-editor .btn.feature-type.shapes .icon-feature-type {
	background-position: -150px 0%;
}

.map-layer-editor .btn.feature-type.shapes:hover, .btn.feature-type.shapes.active .icon-feature-type {
	background-position: -150px 100%;
}

.map-layer-editor button.feature-type:hover, .map-layer-editor button.feature-type.active {
	border:1px solid #3fa8e1;
}

.map-layer-editor button.feature-type.active {
	background-color: #fff;
}

.map-layer-editor .btn.save, .map-layer-editor .btn.undo {
	float: right;
	margin-left: 1em;
}

.map-layer-editor .slider {
	margin: 3px 13px 3px 13px;
	width: 165px;
	margin-right: 13px;
}

.map-layer-editor td .map-layer-editor {
	padding: inherit .5em inherit 0;
}

.map-layer-editor input.text, .map-layer-editor textarea.text {
	width: 95%;
}

.map-layer-editor label.pull-left {
	margin: 5px 1em 9px 0;
}

.map-layer-editor table.color-palette td:first-child {
	padding-right: 1px;
}

.map-layer-editor table.color-palette td {
	white-space: nowrap;
	padding-right: 5px;
}

.map-layer-editor table.color-palette .drag-handle {
	width: 6px;
	height: 18px;
	background: #ddd;
	display: inline-block;
}

.map-layer-editor .miniColors-trigger, .map-layer-editor table.color-palette .btn {
	margin: 0 0 9px 3px;
	display: inline-block;
}

.map-layer-editor table.color-palette .btn {
	margin-left: 0;
}

.map-layer-editor table.color-palette .btn {
	padding: 1px 2px 0px 2px;
}

.map-layer-editor table.color-palette td.controls {
	padding-right: 0;
	text-align: right;
	width: 20%;
}

.map-layer-editor table.color-palette td input {
	width: inherit;
}

