.map-view
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.map-style-dark .map-view {
	background: #333;
}

.map-style-light .map-view {
	background: #ccc;
}

.map-view .map
{
	width:100%;
	height:100%;
}

/*.data
{
	width:10px;
	height:10px;
	background-color:red;
	border-radius:10px;
	opacity:.5;
	box-shadow: 0 0 10px red;
}*/

.zoom-buttons
{
	position:absolute;
	left:15px;
	top:15px;
	z-index:999;
}

.zoom-buttons .zoom-out
{
	float:left;
	width:35px;
	height:34px;
	background-image:url('../assets/zoom-out.png');
	background-repeat:no-repeat;
	opacity:.6;	
}

.zoom-buttons .zoom-in
{
	float:right;
	width:36px;
	height:34px;
	background-image:url('../assets/zoom-in.png');
	background-repeat:no-repeat;
	opacity:.6;
	
}

.zoom-buttons .zoom-out:hover, .zoom-in:hover
{
	cursor:pointer;
	opacity:.9;	
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.olControlPanZoomBar
{
	margin-top:10px;
	margin-left:10px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.with-sidebar .olControlPanZoomBar {
	margin-top: 60px;
}

.sidebar-visible .olControlPanZoomBar {
	margin-left: 410px;
}

.olControlScaleLineTop, .olControlScaleLineBottom {
	border-color: #444 !important;
}

.olControlScaleLine {
	right: 20px !important;
	bottom: 20px !important;
	left: auto !important;
	color: #888 !important;
}