.map-view
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.map-style-dark .map-view {
	background: #333;
}

.map-style-light .map-view {
	background: #ccc;
}

.map-view .map
{
	width:100%;
	height:100%;
}

.olControlScaleLineTop, .olControlScaleLineBottom {
	border-color: #888 !important;
}

.olControlScaleLine {
	right: 20px !important;
	bottom: 20px !important;
	left: auto !important;
	color: #888 !important;
}

div.olControlZoom a {
    padding: 4px !important;
    width: 30px !important;
    height: 30px !important;
    background: rgba(200, 200, 200, 0.5) !important;
}
div.olControlZoom a:hover {
    background: rgba(160, 160, 160, 0.8) !important;
}