.modal 
{
}

.modal h3
{
	font-size:12pt;
	color:#555;
}

.modal input, .modal textarea
{
	width: 480px;
	margin-bottom:10px;
	font-size: 12pt;
	color: #999;
}

.modal .urls input {
	font-size: 16pt;
	height: 40px;
}

.modal .urls input, .modal .urls textarea {
	cursor: text;
}

.modal .map-admin-url, .modal .error {
	background-color: #FFDFDF;	
}

.modal .map-url {
	background-color: #E3FBE9;
}

.modal .modal-footer .btn.delete
{
	position:absolute;
	left:10px;
}