.modal 
{
	max-height: 580px !important;
	width: 560px;
}

.modal.large {
	width: 720px !important;

}

.modal input, .modal textarea
{
	width: 480px;
}

.setup-view .urls input {
	color: #aaa;
}

.setup-view #setup-settings button {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.modal .urls input, .modal .urls textarea {
	cursor: text;
}

.modal .map-admin-url, .modal .error {
	background-color: #FFDFDF;	
}

.modal .map-url {
	background-color: #E3FBE9;
}

.modal .modal-footer .btn.delete
{
	position:absolute;
	left:10px;
}

