#main-viewport .panel {
	position: absolute;
	width: 270px;
	margin: 0;
}

.panel .arrow-down {
	width: 0; 
	height: 0; 
	z-index: 1000;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid;
}


/* default theme */

#main-viewport .panel {
	background-color: rgba(240, 240, 240, .9);
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .4);
}

#main-viewport .panel .text a, #main-viewport .panel .nav a {
	color: #444;
}

.panel .arrow-down {
	border-top-color: rgba(250, 250, 250, .9);
}

.panel .box {
	background-color:rgba(190, 190, 190, .5);
}

/* Bootstrap */
.nav-tabs > li > a:hover {
  background-color: #e0e0e0;
}
/* Bootstrap */

/* jQuery UI */
.ui-widget-content { 
  color: #333333;
  background: #ebebeb;
  border-color: #cccccc;
}
.ui-widget-header { 
  color: #333333;
  background: #ffffff;
  border-color: #cccccc;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  color: #333333;
  background: #ffffff;
  border-color: #cccccc;
}
.ui-state-default:hover, 
.ui-widget-content .ui-state-default:hover, 
.ui-widget-header .ui-state-default:hover, 
.ui-state-default:focus, 
.ui-widget-content .ui-state-default:focus, 
.ui-widget-header .ui-state-default:focus {
  background: #ebebeb;
  border-color: #adadad;
}
/* /jQuery UI */

/* /default theme */



/* dark theme */

/* Bootstrap */
.map-style-dark #main-viewport .panel {
	background-color: rgba(50, 50, 50, .9);
	border-color: #333;
	color: #ddd;
}

.map-style-dark #main-viewport .panel .text h1 {
	color: white;
}

.map-style-dark #main-viewport .panel .text a, .map-style-dark #main-viewport .panel .nav a {
	color: #bbb;
}

.map-style-dark #main-viewport .panel text {

}

.map-style-dark #main-viewport .panel-heading, .map-style-dark #main-viewport .panel-footer {
	background-color: rgba(40, 40, 40, .9);
	color: white;
	border-color: #333;
}

.map-style-dark label {
	color: #aaa;
}

.map-style-dark #main-viewport .heading {
	color: white;
}

.map-style-dark .panel .arrow-down {
	border-top-color: rgba(60, 60, 60, .85);
}

.map-style-dark .panel .box {
	background-color:rgba(30, 30, 30, .6);
}

.map-style-dark #main-viewport .form-control {
	background-color: #666;
	color: #fff;
	border-color: #333;
}

.map-style-dark .btn-default {
  color: #ccc;
  background-color: #444;
  border-color: #282828;
}

.map-style-dark .btn-default .caret {
  border-top-color: #ccc;
}

.map-style-dark .btn-default:hover,
.map-style-dark .btn-default:focus,
.map-style-dark .btn-default:active,
.map-style-dark .btn-default.active,
.map-style-dark .open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #666;
  border-color: #222;
}

.map-style-dark .btn-default.disabled,
.map-style-dark .btn-default[disabled],
.map-style-dark fieldset[disabled] .btn-default,
.map-style-dark .btn-default.disabled:hover,
.map-style-dark .btn-default[disabled]:hover,
.map-style-dark fieldset[disabled] .btn-default:hover,
.map-style-dark .btn-default.disabled:focus,
.map-style-dark .btn-default[disabled]:focus,
.map-style-dark fieldset[disabled] .btn-default:focus,
.map-style-dark .btn-default.disabled:active,
.map-style-dark .btn-default[disabled]:active,
.map-style-dark fieldset[disabled] .btn-default:active,
.map-style-dark .btn-default.disabled.active,
.map-style-dark .btn-default[disabled].active,
.map-style-dark fieldset[disabled] .btn-default.active {
  color: #666;
  background-color: #333;
  border-color: #222;
}

.map-style-dark .nav-tabs {
  border-bottom-color: #282828;
}

.map-style-dark .nav-tabs > li > a:hover {
  border-color: #282828 #282828 #282828;
  background-color: #565656;
}

.map-style-dark .nav-tabs > li.active > a,
.map-style-dark .nav-tabs > li.active > a:hover,
.map-style-dark .nav-tabs > li.active > a:focus {
  color: #aaa;
  background-color: #666;
  border-color: #282828;
  border-bottom-color: transparent;
}

.map-style-dark .nav-tabs > li > a, 
.map-style-dark .nav-tabs.nav-justified > li > a {
  border-bottom-color: #282828;
}

.map-style-dark .nav-tabs > .active > a,
.map-style-dark .nav-tabs.nav-justified > .active > a {
  border-bottom-color: transparent;
}
/* /Bootstrap */

/* jQuery UI */
.map-style-dark .ui-widget-content { 
  color: #333333;
  background: #444;
  border-color: #282828;
}
.map-style-dark .ui-widget-header { 
  color: #333333;
  background: #666;
  border-color: #282828;
}
.map-style-dark .ui-state-default, 
.map-style-dark .ui-widget-content .ui-state-default, 
.map-style-dark .ui-widget-header .ui-state-default {
  color: #333333;
  background: #444;
  border-color: #282828;
}
.map-style-dark .ui-state-default:hover, 
.map-style-dark .ui-widget-content .ui-state-default:hover, 
.map-style-dark .ui-widget-header .ui-state-default:hover, 
.map-style-dark .ui-state-default:focus, 
.map-style-dark .ui-widget-content .ui-state-default:focus, 
.map-style-dark .ui-widget-header .ui-state-default:focus {
  background: #666;
  border-color: #222;
}
/* /jQuery UI */

/* /dark theme */


#main-viewport .panel-heading {
	white-space: nowrap;
} 

.panel.panel-draggable {
	top: 15px;
	right: 15px;
}

.panel.panel-stick-left .panel-scrollable-container {
	overflow: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 15px;
	margin-top: 38px;
}

#main-viewport .panel.extended {
	width: 444px;
}

.panel-heading .btn-group {
	position: absolute;
	right: 15px;
	top: 8px;
}

.panel .panel-footer {
	padding: 15px 15px;
}

.panel .panel-footer .btn-group {
	margin-top: 1px;
}

.panel .panel-footer .main-buttons {
  margin-bottom: 5px;
}

.panel .panel-footer .main-buttons .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.panel.panel-stick-left {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	border-radius: 0;
}

.panel .collapse-toggle .in-out {
	margin: 0px 0 2px -14px;
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url(../assets/collapse-in-out.png);
	background-position: 0 top;
	-moz-opacity:.75; filter:alpha(opacity=50); opacity:.50; 
}

.panel .collapse-toggle:hover .in-out {
	-moz-opacity:1; filter:alpha(opacity=100); opacity:1; 
}

.panel .collapse-toggle.collapsed .in-out {
	background-position: 16px top;
}


.panel table {
	padding: 0;
	width: 100%;
}

.panel .box {
	padding: 5px 8px 6px 8px;
	margin-top: 4px;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.panel .box.text-body {
	white-space: normal;
	text-align: left;
	line-height: 1.3em;
}

.panel .arrow-down-center {
	margin-left: -20px;
	width: 10px;
	position: absolute;
	left: 50%;
}

.panel form {
	margin: 0;
}

.panel .box {
	padding: 5px 8px 6px 8px;
	margin-top: 4px;
	/*background-color:rgba(50,50,50,.3);*/
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/*
.panel-header, .panel-footer {
	background-color: rgba(245, 245, 245, .7);
}

.map-style-dark .panel {
	background-color: rgba(0, 0, 0, .4);
}

.map-style-dark .panel-header, .map-style-dark .panel-footer {
	background-color: rgba(0, 0, 0, .6);
}*/


/*
.panel
{
	position:absolute;
	top:15px;
	right:15px;
	padding: 33px 20px 0 20px;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .4);
	background-color:rgba(100,100,100,.8);
	border-radius:8px;
	color: #ddd;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	width: 240px;
	overflow: visible;
}

.map-style-dark .panel {
	color: #aaa;
	background-color:rgba(0,0,0,.7);
}

.panel .arrow-down-center {
	margin-left: -20px;
	width: 10px;
	position: absolute;
	left: 50%;
}

.panel .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid;
	border-top-color: rgba(120,120,120,.7);
}

.map-style-dark .panel .arrow-down {
	border-top-color: rgba(20,20,20,.5);
}

.panel .panel-header, .panel .panel-body {
	text-shadow: rgba(50,50,50,.9) 1px 1px 0px;
	overflow: hidden;
}

.panel .panel-body {
	overflow: visible;
	margin-bottom: 20px;
}

.panel .panel-body.well {
	text-shadow: inherit;
	margin-top: 18px;
	max-height: 600px;
	overflow: auto;
}

.panel h2 {
	color: white;
	background-color:rgba(0,0,0,.5);
}

.panel-buttons {
	margin-top: 10px;
}

.panel.timeline {
	width: auto;
	top: auto;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color:rgba(60,60,60,1);
}

.panel.timeline .graph {
	height: 300px;
	width: 100%;
}

.panel.map-tour {
	width: 600px;
	top: auto;
	right: auto;
	left: 80px;
	bottom: 40px;
}

.panel.map-tour .btn.next {
	float: right;
}

.panel.map-tour a.close {
	display: none;
}

.panel.map-tour .step-buttons, .panel.map-tour .step-body {
	margin-bottom: 1em;
}

.panel .accordion-body {
	width: 100%;
}

.panel .accordion-body .accordion-body-content {
	padding: 2px 0 15px 0;
}

.panel .accordion-heading {
	position: relative;
	white-space: nowrap;
}

.panel .accordion-heading .accordion-toggle, .panel .accordion-heading .accordion-toggle a {
	padding: 0;
}

.layers-panel h4, .layers-panel h4 a {
	font-size: 24px !important;
	line-height: 28px;
	color: white !important;
}

.panel .accordion-group {
	border: none;
	padding: 00;
	margin: 0;

}

.panel.extended, .panel.extended .accordion-group {
	width: 444px;
}

.panel .panel-header {
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}

.panel .panel-header .frame {
	background-color:rgba(50, 50, 50, .6);
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin: 3px;
}

.panel .panel-header .frame, .panel .drag-handle {
	cursor: move;
}

.panel .panel-header h3 {
	float: left;
	margin-top: -2px;
	color: #999;
	font-size: 16px;
	line-height: 29px;
	font-weight: normal;
	padding: 0 15px 0 17px;
	white-space: nowrap;
}

.panel .panel-controls {
	list-style: none;
	padding: 0;
	margin: 4px 0 0 0;
	position: absolute;
	right: 0px;
	top: 0px;
}

.panel .panel-header .panel-controls {
	margin: 6px 8px 0 0;
}

.panel .panel-header .panel-controls .icon {
	-moz-opacity:.75 !important; filter:alpha(opacity=75) !important; opacity:.75 !important; 
}

.panel .panel-controls li {
	display: block;
	margin: 0 0 0 1px;
	padding: 0;
	float: right;
}

.panel .panel-controls a {
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.panel .panel-controls a:hover, .panel .panel-controls a.active {
	background: #505050;
}

.panel .panel-controls a:hover, .panel .panel-controls a.active:hover {
	background: #666;
}

.panel .panel-controls a, .layers-panel .map-layer .layer-controls .state-indicator {
	padding: 2px 2px 1px 2px;
	display: inline-block;
}



.panel .panel-header .buttons a span {
	display: none;
}

.panel .panel-header .buttons a.extend {
	background-position: 0px top;
}

.extended .panel .panel-header .buttons a.extend {
	background-position: -16px top;
}

.panel .panel-header .buttons a.collapse {
	background-position: -32px top;
}

.panel.collapsed .panel-header .buttons a.collapse {
	background-position: -48px top;
}


.panel .panel-header .buttons a:hover, .panel a:hover .in-out {
	background-position-y: bottom !important;
}

.panel table {
	padding: 0;
	width: 100%;
}

.panel .box {
	padding: 5px 8px 6px 8px;
	margin-top: 4px;
	background-color:rgba(50,50,50,.6);
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.panel .box.text-body {
	white-space: normal;
	text-align: left;
	line-height: 1.3em;
}

.panel .tooltip-inner {
  background-color: #666;
} 

.panel .tooltip.top .tooltip-arrow {
  border-top-color: #666;  
}

.panel .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666;  
}

.panel .tooltip.in {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
*/

