
.panel
{
	position:absolute;
	top:15px;
	right:15px;
	padding: 33px 20px 0 20px;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .4);
	background-color:rgba(100,100,100,.8);
	border-color:#222;
	border-radius:8px;
	color: #ddd;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	width: 240px;
	overflow: visible;
}

.panel .panel-header, .panel .panel-body {
	text-shadow: rgba(50,50,50,.9) 1px 1px 0px;
	overflow: hidden;
}

.panel .panel-body {
	overflow: visible;
	margin-bottom: 20px;
}

.panel form {
	margin: 0;
}

.panel .panel-body.well {
	text-shadow: inherit;
	margin-top: 18px;
	max-height: 600px;
	overflow: auto;
}

.map-style-dark .panel {
	color: #aaa;
	background-color:rgba(0,0,0,.5);
	/*
	text-shadow:rgba(0,0,0,.8) 1px 1px 0px;
	*/
}

.panel h2 {
	color: white;
	background-color:rgba(0,0,0,.5);
}

.panel-buttons {
	margin-top: 10px;
}

.panel.timeline {
	width: auto;
	top: auto;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color:rgba(60,60,60,1);
}

.panel.timeline .graph {
	height: 300px;
	width: 100%;
}

.panel.map-tour {
	width: 600px;
	top: auto;
	right: auto;
	left: 80px;
	bottom: 40px;
}

.panel.map-tour .btn.next {
	float: right;
}

.panel.map-tour a.close {
	display: none;
}

.panel.map-tour .step-buttons, .panel.map-tour .step-body {
	margin-bottom: 1em;
}

.panel .accordion-body {
	width: 100%;
}

.panel .accordion-body .accordion-body-content {
	padding: 2px 0 15px 0;
}

.panel .accordion-heading {
	position: relative;
	white-space: nowrap;
}

.panel .accordion-heading .accordion-toggle, .panel .accordion-heading .accordion-toggle a {
	padding: 0;
}

.layer-panel h4, .layer-panel h4 a {
	font-size: 24px !important;
	line-height: 28px;
	color: white !important;
}

.panel .accordion-group {
	border: none;
	padding: 00;
	margin: 0;

}

.panel.extended, .panel.extended .accordion-group {
	width: 444px;
}

.panel .panel-header {
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
}

.panel .panel-header .frame {
	background-color:rgba(50, 50, 50, .6);
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin: 3px;
}

.panel .panel-header .frame, .panel .drag-handle {
	cursor: move;
}

.panel .panel-header h3 {
	float: left;
	margin-top: -2px;
	color: #999;
	font-size: 16px;
	line-height: 29px;
	font-weight: normal;
	padding: 0 15px 0 17px;
	white-space: nowrap;
}

.panel .panel-controls {
	list-style: none;
	padding: 0;
	margin: 4px 0 0 0;
	position: absolute;
	right: 0px;
	top: 0px;
}

.panel .panel-header .panel-controls {
	margin: 6px 8px 0 0;
}

.panel .panel-header .panel-controls .icon {
	-moz-opacity:.75 !important; filter:alpha(opacity=75) !important; opacity:.75 !important; 
}

.panel .panel-controls li {
	display: block;
	margin: 0 0 0 1px;
	padding: 0;
	float: right;
}

.panel .panel-controls a {
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

	/*-webkit-transition: background 100ms ease-out;
	-moz-transition: background 100ms ease-out;
	transition: background 100ms ease-out;*/
}

.panel .panel-controls a:hover, .panel .panel-controls a.active {
	background: #505050;
}

.panel .panel-controls a:hover, .panel .panel-controls a.active:hover {
	background: #666;
}

.panel .panel-controls a, .layer-panel .map-layer .layer-controls .state-indicator {
	padding: 2px 2px 1px 2px;
	display: inline-block;
}



.panel .panel-header .buttons a span {
	display: none;
}

.panel .panel-header .buttons a.extend {
	background-position: 0px top;
}

.extended .panel .panel-header .buttons a.extend {
	background-position: -16px top;
}

.panel .panel-header .buttons a.collapse {
	background-position: -32px top;
}

.panel.collapsed .panel-header .buttons a.collapse {
	background-position: -48px top;
}

.panel .accordion-toggle .in-out {
	margin: 0 0 0 -16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(../assets/collapse-in-out.png);
	background-position: 0% top;
	-moz-opacity:.75; filter:alpha(opacity=50); opacity:.50; 
}

.panel .accordion-toggle:hover .in-out {
	-moz-opacity:1; filter:alpha(opacity=100); opacity:1; 
}

.panel .accordion-toggle.collapsed .in-out {
	background-position: 100% top;
}

.panel .panel-header .buttons a:hover, .panel a:hover .in-out {
	background-position-y: bottom !important;
}

.panel table {
	padding: 0;
	width: 100%;
}

.panel .box {
	padding: 5px 8px 6px 8px;
	margin-top: 4px;
	background-color:rgba(50,50,50,.6);
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.panel .box.text-body {
	white-space: normal;
	text-align: left;
	line-height: 1.3em;
}

.panel .tooltip-inner {
  background-color: #666;
} 

.panel .tooltip.top .tooltip-arrow {
  border-top-color: #666;  
}

.panel .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666;  
}

.panel .tooltip.in {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
