.setup-view 
{
}

.setup-view h3
{
	font-size:12pt;
	color:#555;
}

.setup-view input, .setup-view textarea
{
	width: 480px;
	margin-bottom:10px;
	font-size: 12pt;
	color: #999;
}

.setup-view .urls input {
	font-size: 16pt;
	height: 40px;
	cursor: text;
}

.setup-view .map-admin-url, .setup-view .error {
	background-color: #FFDFDF;	
}

.setup-view .map-url {
	background-color: #E3FBE9;
}

.setup-view .modal .modal-footer .btn.delete
{
	position:absolute;
	left:10px;
}