.sidebar-view
{
	background-color:#f1f1f1;
	box-shadow:inset -2px 0px 5px -2px rgba(0,0,0,0.6);
	background-image:url('../assets/noise.gif');
}

.sidebar-view .settings-tab
{
	position:absolute;
	top:17px;
	right:-52px;
	width:63px;
	height:43px;
	background-image:url('../assets/settings-tab.png');
	background-repeat:no-repeat;
	cursor:pointer;
	opacity:1;
}

.sidebar-view .settings-tab.hidden
{
	opacity:.8;
}

.sidebar-view .settings-tab h4
{
	padding-top:11px;
	padding-left:17px;
	font-size:10pt;
	color:#666;
}

.sidebar-view .settings-tab h4:hover
{
	color:#00c9ff;
}

.sidebar-view .black-overlay
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:black;
	opacity:0;
	pointer-events: none;
	
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
}

.divider
{
	height:1px;
	width:100%;
	background-color:rgba(0,0,0,.1);
	border-bottom:1px solid white;
}

.sidebar-view .display
{
	margin-top:10px;
	height:85px;
}

.sidebar-view .display .type
{
	float:left;
	width:70px;
	height:55px;
	background-color:rgba(0,0,0,.05);
	border:1px solid rgba(0,0,0,.0);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	cursor:pointer;
}

.sidebar-view .display .type:hover
{
	background-color:rgba(0,0,0,.07);
	border:1px solid rgba(0,0,0,.2);
}

.sidebar-view .display .type p
{
	position:relative;
	top:50px;
	text-align:center;
}

.sidebar-view .display .type.points
{
	background-image:url('../assets/sidebar-data-dots.png');
	background-repeat:no-repeat;
	background-position:25px;
}

.sidebar-view .display .type.points.active
{
	background-image:url('../assets/sidebar-data-dots-active.png');
	background-color:rgba(54,163,217,.1);
	border:1px solid rgba(54,163,217,.5);
}

.sidebar-view .display .type.cells
{
	background-image:url('../assets/sidebar-data-dots.png');
	background-repeat:no-repeat;
	background-position:25px;
}

.sidebar-view .display .type.cells.active
{
	background-image:url('../assets/sidebar-data-dots-active.png');
	background-color:rgba(54,163,217,.1);
	border:1px solid rgba(54,163,217,.5);
}

.sidebar-view .display .type.bubbles
{
	background-image:url('../assets/sidebar-data-circles.png');
	background-repeat:no-repeat;
	background-position:15px;
	margin-left:5px;
}

.sidebar-view .display .type.bubbles.active
{
	background-image:url('../assets/sidebar-data-circles-active.png');
	background-color:rgba(54,163,217,.1);
	border:1px solid rgba(54,163,217,.5);
}

.sidebar-view .display .radio
{
	width:60px;
	float:left;
}

.sidebar-view .accordion-heading .accordion-toggle .data-color
{
	margin-right:-5px;
	width:20px;
	height:20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#CCC;
}

.sidebar-view .accordion-heading .data-color
{
	float:right;
	width:20px;
	height:20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:red;
}

.sidebar-view .header-text
{
	padding-top:10px;
}

.sidebar-view .color-single .color-picker
{
	width:194px;
	height:25px;
}

.sidebar-view .color-scale
{
	display:none;
}

.sidebar-view .color-scale .color-picker
{
	width:77px;
	height:25px;
}

.sidebar-view .miniColors-trigger
{
	margin-bottom:10px;
	margin-left:5px;
}

.divider.large
{
	height:1px;
	width:265px;
	margin-top:15px;
	background-color:rgba(0,0,0,.1);
	border-bottom:1px solid rgba(255,255,255,1);
}

.sidebar-view .state-overlay.visible
{
	-webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
	opacity:.5;
}

.sidebar-view .data-container
{
	position:relative;
	top:20px;
	left:20px;
	right:20px;
}

.sidebar-view .data-container .accordion-group
{
	width:87%;
}

.sidebar-view .data-container .accordion-inner
{
	background-color:rgba(0,0,0,.03);
}

.sidebar-view .data-container .accordion-inner .data-toggle
{
	height:40px;
	margin-top:10px;
}

.sidebar-view .data-container .accordion-inner .data-toggle p
{
	padding-top:5px;
	float:left;
}

.sidebar-view .data-container .accordion-inner .data-toggle .btn-group
{
}


.sidebar-view .data-container .accordion-inner .data-toggle .btn-group button
{
	width:115px;
}

.accordion-toggle.btn.btn-inverse
{
	border:none;
	text-align:left;
}

.toggle-group
{
	width:87%;
	background-color:rgba(0,0,0,.023);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .05);
	border:1px solid rgba(0,0,0,.05);
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	padding:0px;
	margin:0px;
	margin-top:15px;
}

.toggle-group .data-toggle
{
	height:25px;
	padding:15px;
}

.toggle-group .data-toggle.double
{
	height:50px;
}

.toggle-group .data-toggle.double .first
{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;	
}

.toggle-group .data-toggle.double .second
{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	margin-top:-1px;	
}

.toggle-group .data-toggle p
{
	padding-top:5px;
	float:left;
}

.toggle-group .data-toggle .btn-group
{
	float:right;
}

.input-prepend
{
	padding-top:15px;
}

.input-prepend .span2
{
	width:158px;
}

.toggle-group .data-toggle btn.btn-inverse.data
{
	display:none;
}

.btn.data	 {
	margin-top:-3px;
	width:235px;
	height:30px;
	font-weight:bold;
}

#updateData
{
	float:right;
}

.data-controls
{
	display:block;
}
