body.page {
  color: #5a5a5a;

  padding-top: 50px;
}


/* flushing footer to bottom */

html, body {
  height: 100%;
}

.page #wrap {
  min-height: 100%;
}

.page #main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.page footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:20px;
} 

.page .jumbotron label {
  color: #888;
}

footer .dot {
  display: inline-block;
  margin: 0 15px;
}

.page .well {
  margin-top: 15px;
}

.page .navbar-brand {
  padding: 13px 15px;
}

.page .jumbotron .app-title {
  font-weight: 700;
  font-size: 60px;
}

.page .app-title, .page .app-title a {
  color: white;
  text-decoration: none;
}

.page .jumbotron {
  color: white;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #333 url(../assets/homepage-topotexture-dark.jpg);
  line-height: 1.2em;
  padding: 24px 0;
  font-size: 18px;
  margin-bottom: 15px;
}

.page.xhr .jumbotron {
  margin: 0;
  padding: 15px 0 0 0;
  border: none;
}

.page.home .jumbotron {
  margin-bottom: 70px;
}

.page.home .jumbotron h2 {
  font-size: 18px
}

.page .jumbotron form {
  margin: 40px 0 20px 0;
} 

.page .jumbotron h2 {
  color: #aaa;
  font-size: 25px;
  margin-bottom: 18px;
  white-space: nowrap;
}

.page .jumbotron form.login {
  width: 250px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

form.login .btn {
  display: block;
  margin: 30px auto 0 auto;

}

.page .jumbotron .container {
  max-width: 750px; 
}

.page.error .message {
  padding: 20px 0 50px 0;
}

.page .container {
  max-width: 970px; 
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 768px) {
  .col-lg-3 {
    width: 25%;
    float: left;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
    float: left;
  }
}

.page h2 {
  font-size: 24px;
  line-height: 1.2;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.page h3, .page h3 a {
  font-size: 32px;
  color: #5a5a5a;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.marketing .img-circle.framed {
  /* center */
  margin: 0 auto;
  overflow: hidden;
}

.framed {
  padding: 4px;
  background: white;
  border: 1px solid #ccc;
}

.popover-title {
  font-size: 14px !important;
}

/* Featurettes
------------------------- */

.featurettes-headline h2 {
  text-align: center;
  margin: -10px 0 50px 0;
  font-size: 19px;
}

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  line-height: 1;
  margin-top: 0;
}

.featurettes {
  min-height: 100px;
}

.featurette:last-child hr {
  display: none;
}

.page .mit-logo {
  margin-right: 20px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

   /* Navbar positioning foo */
  .page .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .page .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .page.home .jumbotron .app-title {
    font-size: 120px;
  }

  .page.home .jumbotron h2 {
    font-size: 25px;
  }

}


.page .panel-scrollable-container {
  overflow: auto;
  height: 300px;
}


body.dashboard .navbar-nav .user-dashboard {
  display: none;
}

