<div class="jumbotron">
    <div class="container">
        <h1 class="app-title"><a href="/">GeoSense</a></h1>
        <h2>Permission denied <span frown>:(</span></h2>
		<p>Sorry, but you are currently not allowed to do this. Try logging in with the required privileges.</p>
	</div>
</div>