<div class="jumbotron">
    <div class="container">
        <h1 class="app-title"><a href="<%= config.BASE_URL %>">GeoSense</a></h1>
        <div class="message">
	        <h2>Permission denied <span class="glyphicon glyphicon-ban-circle"></span></h2>
			<p>Sorry, but you are currently not allowed to do this.<br>Please log in and try again.</p>
		</div>
	</div>
</div>