<div class="jumbotron">
    <div class="container">
        <h1 class="app-title"><a href="<%= BASE_URL %>">GeoSense</a></h1>
        <div class="message">
	        <h2>Not found <span class="glyphicon glyphicon-flash"></span></h2>
		   	<p>Sorry, but the page you were trying to view does not exist.<br>It looks like this was the result of either a mistyped address or an out-of-date link.</p>
		</div>
	</div>
</div>