<div class="jumbotron">
    <div class="container">
        <h1 class="app-title"><a href="/">GeoSense</a></h1>
        <div class="message">
	        <h2>Server Error <span class="glyphicon glyphicon-fire"></span></h2>
		   	<p>Sorry, but but an error occurred on the server. <br>Management has been notified.</p>
		</div>
	</div>
</div>