  <div class="jumbotron">
      <div class="container">
          <h1 class="app-title">GeoSense</h1>
          <h2>Create and share beautiful geospatial visualizations</h2>
          <form class="create-map" method="POST" action="/api/map">
              <div class="map-title alert alert-warning hidden">
                  Please give your map a title.
              </div>
              <div class="input-group">
                      <input class="form-control input-lg map-title" placeholder="What should we call your map?" type="text" name="title">
                      <span class="input-group-btn">
                          <button id="createMap" class="btn btn-primary btn-lg" type="submit">Create Map!</span></button>
                      </span>
              </div>
          </form>     
      </div>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/png;base64," data-src="holder.js/240x240" alt="Generic placeholder image">
        <h2>Load your Data</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/png;base64," data-src="holder.js/240x240" alt="Generic placeholder image">
        <h2>Visualize &amp; Design</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/png;base64," data-src="holder.js/240x240" alt="Generic placeholder image">
        <h2>Share &amp; Discuss</h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurettes-headline">
      <div class="col-md-12">
        <h2>Recent & Awesome. <span class="text-muted">Maps we think you'll love, because we do.</span></h2>
      </div>
    </div>

    <div class="featurettes"></div>

  </div><!-- /.container -->
