<div class="jumbotron">
    <div class="container">
        <h1 class="app-title"><a href="<%= BASE_URL %>">GeoSense</a></h1>
        <h2><%= title %></h2>
	</div>
</div>
<div class="container">
<%- html %>
</div>

